body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.65);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
}

body.popup-show::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 50000;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
}

.popup_show {
	visibility: visible;
	overflow: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	position: relative;
	max-width: 456px;
	width: 100%;
	padding: 30px;
	border-radius: 30px;
	background: #fff;
	box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	overflow: hidden;

	.lock & {
		visibility: visible;
	}
}

.popup {

	&__close {
		position: absolute;
		top: 30px;
		right: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 15px;
		background: #fff;
		border: 1px solid #e3e3e3;
		outline: none;

		svg {
			width: 14px;
			flex: 0 0 14px;
			height: 14px;
			stroke: #8f8e8e;
		}
	}

	&__content-title {
		font-size: 26px;
		line-height: 42px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__content-subtitle {
		font-size: 16px;
		line-height: 26px;
		color: #161615;
		margin-bottom: 29px;
	}

	&__form {}

	&__form-input {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__form-btn {
		width: 100%;
	}

	&__form-confirmation {
		font-size: 14px;
		line-height: 20px;
		color: #8F8E8E;
		margin-bottom: 28px;
	}

	&__form-confirmation-link {
		font-size: 14px;
		line-height: 20px;
		color: #8F8E8E;
		text-decoration: underline !important;
	}
}

.popup__form-textarea {
	height: 120px;
	margin-bottom: 30px;
}

.popup-suppliers .popup__content {
	max-width: 700px;
}

.popup-suppliers__inner {
	align-items: center;
}

.popup-suppliers__descp {
	flex: 1 1 auto;
	// margin-right: 20px;
}

.popup__content-title {}

.popup-suppliers .popup__content-subtitle {
	line-height: 26px;
	color: #161615;
	margin-bottom: 0;
}

.popup-suppliers__img {
	flex: 0 0 180px;
	height: 102px;
	overflow: hidden;
}

// Оставить отзыв
.leave-feedback-popup .popup__content {
	max-width: 700px;
}

.leave-feedback-popup .popup__form-textarea {
	height: 240px;
}

.popup__rating {
	margin-bottom: 30px;
}

// Новый список
.new-list-popup .popup__content-title {
	margin-bottom: 30px;
}

.new-list-popup .input {
	margin-bottom: 30px;
}

.popup__content .search-form {
	margin-bottom: 10px;
}

.edit-profile-entity__popup .submission-form {
	max-width: 1000px;
}

.similar-products-popup .popup__content {
	max-width: 778px;
	max-height: 589px;
}

.similar-products-popup__inner {
	height: 589px;
	overflow: auto;
	padding-bottom: 40px;
}

.similar-products-popup__inner::-webkit-scrollbar-thumb,
.similar-products-popup__inner::-webkit-scrollbar {
	display: none;
}

// Popup Cookie
.popup-cookie {
	display: none;
	position: fixed;
	left: 50%;
	right: 0;
	bottom: 3%;
	padding: 10px;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	z-index: 9999999;
	// box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
	// overflow: hidden;
}
.popup-cookie__wrap {
	max-width: 600px;
	width: 100%;
	border-radius: 30px;
	background: #221f20;
}
.popup-cookie__body {
	display: flex;
	align-items: center;
	padding: 10px 15px 10px 20px;
}

.popup-cookie__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	text-align: center;
	margin-right: 20px;
}

.popup-cookie__text {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	margin-right: 15px;
}

.popup-cookie__icon-closed {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	flex: 0 0 40px;
	height: 40px;
	border-radius: 15px;
	background: #221f20;
	border: 1px solid #e3e3e3;
	opacity: 0.5;

	svg {
		width: 14px;
		flex: 0 0 14px;
		height: 14px;
		stroke: #fff;
	}
}

.popup__btn-block {
	display: flex;
	align-items: center;

	.btn {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	.btn_black {
		&:hover {
			color: #fff;
			background: #221F20;
			opacity: 0.7;
		}
	}
}

.popup__rating .rating__value {
	// font-size: 50%;
	font-size: 0;
	line-height: 1;
	padding: 0px 0px 0px 0px;
}

// Создать новую корзину
.new-bascet__color-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 40px -10px;
}

.new-bascet__color-block-column {
	display: flex;
	flex: 0 1 33.333%;
	padding: 0 5px 5px 10px;
}

.new-bascet__color-btn {}

.color-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 1 100%;
	height: 40px;
	background: grey;
	border-radius: 15px;
	cursor: pointer;
}

.color-btn__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	left: 0;
	top: 0;
	visibility: hidden;
}

.color-btn__check {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 26px;
	height: 26px;
	width: 26px;
	background: #ffffff61;
	border-radius: 50%;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	overflow: hidden;

	svg {
		flex: 0 0 10px;
		height: 7.5px;
		width: 7.5px;
	}
}

.color-btn input[type=radio]:checked+.color-btn__check {
	transform: scale(1);
}

.violet-bg {
	background: #6584EE;
}

.brown-bg {
	background: #C5934F;
}

.green-bg {
	background: #34B866;
}

.pink-bg {
	background: #F47FBD;
}

.blue-bg {
	background: #46A5FC;
}

.orange-bg {
	background: #F3602B;
}