.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
	border-collapse: collapse;
}

.table thead th {
	text-align: left;
	border: none;
	padding: 22px 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #161615;
	// border-radius: 15px 15px 0px 0px;
	background: #f9f9f9;
}
.table tr th:first-child,
.table tr td:first-child {
	// border-left: 1px solid #F3F3F4;
}

.table tr th:last-child,
.table tr td:last-child {
	// border-right: 1px solid #F3F3F4;
}

.table thead tr th:first-child {
	border-radius: 15px 0 0 0;
}

.table thead tr th:last-child {
	border-radius: 0 15px 0 0;
}
.table thead tr {
	// border-radius: 15px 0 0 0;
	// border: 1px solid #f9f9f9;
	background: #f9f9f9;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 12px 10px 12px 20px;
	font-size: 14px;
	max-width: 311px;
}

.table tbody tr {
	border-left: 1px solid #F3F3F4;
	border-right: 1px solid #F3F3F4;
	border-bottom: 1px solid #F3F3F4;
}

.table tbody td:nth-child(2) {
	background: #f9f9f9;
}

// .table tbody tr:nth-child(even) {
// 	background: #F8F8F8;
// }

.table tbody tr:last-child td {
	border-bottom: 1px solid #F3F3F4;
}

// .table tbody tr:last-child td:first-child {
// 	border-radius: 0 0 0 20px;
// }

// .table tbody tr:last-child td:last-child {
// 	border-radius: 0 0 20px 0;
// }