<section class="about section">
  <div class="_container">
    <div class="titleBlock">
      <div class="about__title title">
        о компании
      </div>
    </div>
    <p class="about__subtitle subtitle">
      «Алтайком» — <span>ведущий поставщик</span> сырья, инвентаря и оборудования для
      предприятий кондитерской и хлебопекарной промышленности на рынке
      Алтайского края
    </p>

    <div class="about__advantagesBlock advantagesBlock">
      <div class="advantagesBlock__inner d-flex">
        <div class="advantagesBlock__column">
          <div class="advantagesBlock__item">
            <div class="advantagesBlock__item-icon advantagesBlock__item-icon_01"></div>
            <div class="advantagesBlock__item-title">
              Работаем с крупнейшими российскими и зарубежными
              поставщиками
            </div>
            <div class="advantagesBlock__item-subtitle">
              Мы работаем с такими крупными компаниями как Angel,
              Bellaria, Гамми
            </div>
          </div>
        </div>

        <div class="advantagesBlock__column">
          <div class="advantagesBlock__item">
            <div class="advantagesBlock__item-icon advantagesBlock__item-icon_02"></div>
            <div class="advantagesBlock__item-title">
              Собственный автотранспорт для доставки
            </div>
            <div class="advantagesBlock__item-subtitle">
              Осуществляем доставку товара покупателям по всему
              Сибирскому региону бесплатно
            </div>
          </div>
        </div>

        <div class="advantagesBlock__column">
          <div class="advantagesBlock__item">
            <div class="advantagesBlock__item-icon advantagesBlock__item-icon_03"></div>
            <div class="advantagesBlock__item-title">
              Склад и офис в одном месте, что удобно для самовывоза
            </div>
            <div class="advantagesBlock__item-subtitle">
              Всегда в наличии на складе имеются основные виды сырья,
              оборудования в достаточном объеме
            </div>
          </div>
        </div>

        <div class="advantagesBlock__column">
          <div class="advantagesBlock__item">
            <div class="advantagesBlock__item-icon advantagesBlock__item-icon_04"></div>
            <div class="advantagesBlock__item-title">
              Оказываем информационные и технологические услуги
            </div>
            <div class="advantagesBlock__item-subtitle">
              Регулярно проводим семинары и мастер-классы, а также
              выезжаем на предприятия
            </div>
          </div>
        </div>
      </div>
      <!-- <a href="#" class="advantagesBlock__btn btn">подробнее</a> -->
    </div>
		<div class="advantagesBlock__btn-block">
			<a href="#" class="advantagesBlock__btn btn">подробнее</a>
		</div>
  </div>
</section>