<div class="catalog-entity-table-card">
	<div class="catalog-entity-table-card__col catalog-entity-table-card__col--interface">

		<div class="product-preview__slider card-product-slider-small"> 
			<div class="productPreviewSl swiper">
				<div class="sliderSec__swiper">
					<div class="card-product-slider-small__slide _ibg">
						<img src="@img/card-product-sl/01.jpg" alt="Картинка превью слайдера">
					</div>
					<div class="card-product-slider-small__slide _ibg">
						<img src="@img/card-product-sl/01-2.jpg" alt="Картинка превью слайдера">
					</div>
					<div class="card-product-slider-small__slide _ibg">
						<img src="@img/card-product-sl/01-3.jpg" alt="Картинка превью слайдера">
					</div>
					<div class="card-product-slider-small__slide _ibg">
						<img src="@img/card-product-sl/01-4.jpg" alt="Картинка превью слайдера">
					</div>
					<div class="card-product-slider-small__slide _ibg">
						<img src="@img/card-product-sl/01-5.jpg" alt="Картинка превью слайдера">
					</div>
				</div>
			</div>
		</div>

		<div class="catalog-entity-table-card__name-block">
		<div class="product-preview__name-block">
			<div class="product-preview__name">Желейные шарики «Мармелатье»</div>
			<button id="prodPrewCl" type="button" class="product-preview__close">
				<svg>
					<use xlink:href="#popup-close"></use>
				</svg>
			</button>
		</div>
		<div class="product-preview__article">Арт. 5297765</div>
		<div class="product-preview__stickers">
			<span class="sticker-product">хит</span>
			<span class="sticker-product sticker-product_red">20%</span>
			<span class="sticker-product sticker-product_crem">прослеживаемый товар</span> 
		</div>
		</div>

		<div class="catalog-entity-table-card__button-block">
		<div class="product-preview__button-block">
			<div class="card-product-sec__button-block">
				<div class="card-product-sec__button-block-title">Вкус</div>
				<form action="#" class="card-product-sec__button-block-inner">
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" checked type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Клубника</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Ваниль</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Банан</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Клубника</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Ваниль</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Банан</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Клубника</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Банан</span>
						</span>
					</label>

					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Клубника</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Банан</span>
						</span>
					</label>

					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Клубника</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Банан</span>
						</span>
					</label>

					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Клубника</span>
						</span>
					</label>
	
					<label type="button" class="card-product-sec__button-block-btn product-btn-label">
						<input class="product-btn__input" type="radio" name="radio">
							<span class="product-btn">
								<span class="product-btn__name">Банан</span>
						</span>
					</label>
	
				</form>
			</div>
		</div>
	</div>

	<div class="catalog-entity-table-card__conclusion">
		<div class="product-preview__conclusion conclusion">
			<div class="conclusion__row">
				<div class="conclusion__item">
					<div class="conclusion__name">В наличии</div>
					<div class="conclusion__value">Много</div>
				</div>
				<div class="conclusion__item">
					<div class="conclusion__name">Вес упаковки</div>
					<div class="conclusion__value">5 кг</div>
				</div>
			</div>
			<div class="conclusion__line"></div>
			<div class="conclusion__row">
				<div class="conclusion__item">
					<div class="conclusion__name">
						<!-- <div class="sticker-product green-color"> 
							экономия 100 ₽
						</div> -->
					</div>
					<div class="conclusion__value">
						<div class="total-price rub">1 800.00</div> 
					</div>
				</div>
			</div>
			<button type="button" class="product-preview__btn-fav btn">
				<svg>
					<use xlink:href="#favorites-product"></use>
				</svg>
				В избранное
			</button>
		</div>
	</div>

	</div>
	<div class="catalog-entity-table-card__col catalog-entity-table-card__col--descp">
		<div data-showmore-content="500" class="card-product-sec__description">  
			<!-- <div class="card-product-sec__description-text"> -->
				<p>
					Желейные шарики - студнеобразные упругие изделия сферической
					и слегка овальной формы в небольшом количестве сиропа.
					Ипользуются для декорирования изделий: пирожных, тортов,
					десертов, мороженого, для добавления в коктейли и напитки.
				</p>
			<!-- </div> -->
			<!-- <div class="card-product-sec__description-text"> -->
				<p>
					<span>Состав:</span> сахар, сироп глюкозный, стабилизаторы
					(Е1442, Е401), регулятор кислотности Е330, ароматизаторы
					идентичные натуральному (Вишня, Лимон, Клубника, Апельсин,
					Зелёное яблоко, Йогурт, Чёрная смородина), красители пищевые
					(Е129, Е122, Е102, Е171, Е142, Е151), консервант Е202.
					Возможно наличие диоксида серы в количестве не более 0,01 %.
				</p>
			<!-- </div> -->
			<!-- <div class="card-product-sec__description-text"> -->
				<p>
					<span>Энергетическая/пищевая ценность (100 г продукта):</span>
					279 ккал/1168 кДж, белки 0,2 г, углеводы 68,3 г.
				</p>
			<!-- </div> -->
			<div class="card-product-sec__specifications">
				<div class="table-info">
					<div class="table-info__subtitle">
						<span>Общие характеристики</span>
					</div>

					<div class="table-info__inner">
						<div class="table-info__table">
							<div class="table-info__table-row d-flex">
								<div class="table-info__table-col">
									<div class="table-info__table-name">
										Торговая марка
									</div>
									<div class="table-info__table-line"></div>
								</div>
								<div class="table-info__table-col">
									<a href="#" class="table-info__table-value crem-color">
										Фабрика сладкого вкуса
									</a>
								</div>
							</div>

							<div class="table-info__table-row d-flex">
								<div class="table-info__table-col">
									<div class="table-info__table-name">
										Сертификат
									</div>
									<div class="table-info__table-line"></div>
								</div>
								<div class="table-info__table-col">
									<div class="table-info__table-value">ЕАС</div>
								</div>
							</div>

							<div class="table-info__table-row d-flex">
								<div class="table-info__table-col">
									<div class="table-info__table-name">
										Страна производитель
									</div>
									<div class="table-info__table-line"></div>
								</div>
								<div class="table-info__table-col">
									<div class="table-info__table-value">Россия</div>
								</div>
							</div>

							<div class="table-info__table-row d-flex">
								<div class="table-info__table-col">
									<div class="table-info__table-name">Состав</div>
									<div class="table-info__table-line"></div>
								</div>
								<div class="table-info__table-col">
									<div class="table-info__table-value">
										См. на упаковке
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>