<div class="categoriesImgBlock d-flex">
  <div class="categoriesImgBlock__column">
    <a href="#" class="categoriesImgBlock__card categoriesImgBlock__card-01">
      <div class="categoriesImgBlock__card-img _ibg">
        <img src="@img/categories/categories-01.png" alt="" />
      </div>
      <div class="categoriesImgBlock__card-text ingredients-color">Ингредиенты</div>
    </a>
  </div>

  <div class="categoriesImgBlock__column">
    <a href="#" class="categoriesImgBlock__card categoriesImgBlock__card-02">
      <div class="categoriesImgBlock__card-img _ibg">
        <img src="@img/categories/categories-02.png" alt="" />
      </div>
      <div class="categoriesImgBlock__card-text inventory-color">Инвентарь</div>
    </a>
  </div>

  <div class="categoriesImgBlock__column">
    <a href="#" class="categoriesImgBlock__card categoriesImgBlock__card-03">
      <div class="categoriesImgBlock__card-img _ibg">
        <img src="@img/categories/categories-03.png" alt="" />
      </div>
      <div class="categoriesImgBlock__card-text equipment-color">Оборудование</div>
    </a>
  </div>

  <div class="categoriesImgBlock__column">
    <a href="#" class="categoriesImgBlock__card categoriesImgBlock__card-04">
      <div class="categoriesImgBlock__card-img _ibg">
        <img src="@img/categories/categories-04.png" alt="" />
      </div>
      <div class="categoriesImgBlock__card-text production-color">Наша продукция</div>
    </a>
  </div>
</div>