<div class="categoriesImgBlock d-flex">
  <div class="categoriesImgBlock__column">
    <div class="categoriesImgBlock__card categoriesImgBlock__card-01">
      <div class="categoriesImgBlock__card-img">
        <img src="img/categories/categories-01.png" alt="" />
      </div>
      <div class="categoriesImgBlock__card-text">Ингредиенты</div>
    </div>
  </div>

  <div class="categoriesImgBlock__column">
    <div class="categoriesImgBlock__card categoriesImgBlock__card-02">
      <div class="categoriesImgBlock__card-img">
        <img src="img/categories/categories-02.png" alt="" />
      </div>
      <div class="categoriesImgBlock__card-text">Инвентарь</div>
    </div>
  </div>

  <div class="categoriesImgBlock__column">
    <div class="categoriesImgBlock__card categoriesImgBlock__card-03">
      <div class="categoriesImgBlock__card-img">
        <img src="img/categories/categories-03.png" alt="" />
      </div>
      <div class="categoriesImgBlock__card-text">Оборудование</div>
    </div>
  </div>

  <div class="categoriesImgBlock__column">
    <div class="categoriesImgBlock__card categoriesImgBlock__card-04">
      <div class="categoriesImgBlock__card-img">
        <img src="img/categories/categories-04.png" alt="" />
      </div>
      <div class="categoriesImgBlock__card-text">Наша продукция</div>
    </div>
  </div>
</div>