<section class="sliderSec certificatesSec">
	<div class="sliderSec__container _container">
		<div class="slider-certificates__title">Сертификаты</div>
		<div class="sliderCert swiper">
			<div data-gallery class="sliderSec__swiper">
				<a href="@img/certificates/01.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/01.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/02.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/02.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/03.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/03.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/04.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/04.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/05.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/05.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/06.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/06.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/01.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/01.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/02.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/02.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/03.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/03.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/04.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/04.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/05.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/05.jpg" alt="Картинка сертификата">
				</a>
				<a href="@img/certificates/06.jpg" class="sliderCert__slide _ibg">
					<img src="@img/certificates/06.jpg" alt="Картинка сертификата">
				</a>
			</div>
			<div class="swiper-button__inner">
				<div class="slider-info__button-next swiper-button swiper-button-next">
					<svg>
						<use xlink:href="#arrow-slider"></use>
					</svg>
				</div>
				<div class="slider-info__button-prev swiper-button swiper-button-prev">
					<svg>
						<use xlink:href="#arrow-slider"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>