<div class="filterBlock d-flex">
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Ароматизаторы пищевые и ванилин</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Десертные пасты, топпинги</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Дрожжи хлебопекарные</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Какао-порошок, какао-масло</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Красители пищевые</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Кремы, гели, помадки</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Мастика сахарная</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Кремы, гели, помадки</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Мастика сахарная</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Мука, солод, отруби, сухари</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Патока</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Повидло, начинки, подварки</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Сахар, соль</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Смеси кондитерские</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Специи, пряности</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Смеси кондитерские</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Специи, пряности</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Сухофрукты, цукаты</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Фрукты консервированные, наполнители</a>
  </div>
  <div class="filterBlock__column">
    <a href="#" class="filterBtn">Эмульгаторы</a>
  </div>
</div>