<div class="filters-mob-menu">
	<div class="filters-mob-menu__header">
		<div class="filters-mob-menu__header-name">Фильтры</div>
		<button class="filters-mob-menu__header-close">
			<svg>
				<use xlink:href="#popup-close"></use>
			</svg>
		</button>
	</div>
	<div class="filters-mob-menu__body">

		<div class="filters-mob-menu__applied-filters applied-filters">

			<div class="applied-filters__item">
				<span class="applied-filters__item-text">Ароматизаторы пищевые и ванилин</span>
				<button type="button" class="applied-filters__item-close">
					<svg>
						<use xlink:href="#popup-close"></use>
					</svg>
				</button>
			</div>
			<div class="applied-filters__item">
				<span class="applied-filters__item-text">Глазурь кондитерская и шоколад</span>
				<button type="button" class="applied-filters__item-close">
					<svg>
						<use xlink:href="#popup-close"></use>
					</svg>
				</button>
			</div>
			<div class="applied-filters__item">
				<span class="applied-filters__item-text">Десертные пасты, топпинги</span>
				<button type="button" class="applied-filters__item-close">
					<svg>
						<use xlink:href="#popup-close"></use>
					</svg>
				</button>
			</div>
			<div class="applied-filters__item">
				<span class="applied-filters__item-text">60 ₽ — 1 200 ₽</span>
				<button type="button" class="applied-filters__item-close">
					<svg>
						<use xlink:href="#popup-close"></use>
					</svg>
				</button>
			</div>
			<div class="applied-filters__item">
				<span class="applied-filters__item-text">Производитель</span>
				<button type="button" class="applied-filters__item-close">
					<svg>
						<use xlink:href="#popup-close"></use>
					</svg>
				</button>
			</div>
			<div class="applied-filters__item">
				<span class="applied-filters__item-text">Еще фильтр</span>
				<button type="button" class="applied-filters__item-close">
					<svg>
						<use xlink:href="#popup-close"></use>
					</svg>
				</button>
			</div>

		</div>

		<div class="filters-mob-menu__spollers">
			<div data-spollers="" class="spollers _spoller-init">
				<form method="GET" class="filters-mob-menu__form page__sidebar-form">
					<div class="page__sidebar-navigation-col spollers__item">
						<button type="button" data-spoller="" class="spollers__title _spoller-active">
							Производитель <span>: <span class="_result">2</span></span>
						</button>
						<div class="spollers__body">
							<div class="form__line">
								<label data-index="0" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Фабрика сладкого вкуса</span></span>
								</label>
								<label data-index="1" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Топ Декор</span></span>
								</label>
								<label data-index="2" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Фабрика сладкого вкуса</span></span>
								</label>
								<label data-index="3" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Топ Декор</span></span>
								</label>
								<label data-index="4" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Фабрика сладкого вкуса</span></span>
								</label>
								<label data-index="5" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Топ Декор</span></span>
								</label>
								<label data-index="6" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Фабрика сладкого вкуса</span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="page__sidebar-navigation-col spollers__item">
						<button type="button" data-spoller="" class="spollers__title">
							Страна <span>: <span class="_result">2</span></span>
						</button>
						<div class="spollers__body" hidden="">
							<div class="form__line">
								<label data-index="7" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Россия</span></span>
								</label>
								<label data-index="8" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Китай</span></span>
								</label>
								<label data-index="9" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Казахстан</span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="page__sidebar-navigation-col spollers__item">
						<button type="button" data-spoller="" class="spollers__title">
							Цена <span>: <span class="_result">2</span></span>
						</button>
						<div class="spollers__body" hidden="">
							<div class="form__line">

								<div class="price-input">

									<div class="field">
										<!-- <span>Min</span> -->
										<input type="number" class="input-min" value="0">
									</div>

									<!-- <div class="separator">-</div> -->
									<div class="field">
										<!-- <span>Max</span> -->
										<input type="number" class="input-max" value="10000">
									</div>

								</div>

								<div class="slider">
									<div class="progress"></div>
								</div>

								<div class="range-input">
									<input type="range" class="range-min" min="0" max="10000" value="0" step="100">
									<input type="range" class="range-max" min="0" max="10000" value="10000" step="100">
								</div>

							</div>
						</div>
					</div>
					<div class="page__sidebar-navigation-col spollers__item">
						<button type="button" data-spoller="" class="spollers__title">
							Еденица заказа <span>: <span class="_result">2</span></span>
						</button>
						<div class="spollers__body" hidden="">
							<div class="form__line">
								<label data-index="7" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>1 кг</span></span>
								</label>
								<label data-index="8" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>3 кг</span></span>
								</label>
								<label data-index="9" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>5 кг</span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="page__sidebar-navigation-col spollers__item">
						<button type="button" data-spoller="" class="spollers__title">
							Наличие <span>: <span class="_result">2</span></span>
						</button>
						<div class="spollers__body" hidden="">
							<div class="form__line">
								<label data-index="7" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>В наличии</span></span>
								</label>
								<label data-index="8" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text"><span>Под заказ</span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="page__sidebar-navigation-col page__sidebar-navigation-open spollers__item">
						<button type="button" data-spoller="" class="spollers__title _spoller-active"></button>
						<div class="spollers__body">
							<div class="form__line">
								<label data-index="10" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text checkbox__text_blue"><span class="checkbox__text-name text-name_new-check">Новинки</span></span>
								</label>
								<label data-index="11" class="checkbox">
									<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1" name="form[]">
									<span class="checkbox__text checkbox__text_red"><span class="checkbox__text-name text-name_sale-check">Акции</span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="page__sidebar-navigation-filter-controll filter-controll">
						<button type="submit" class="filter-controll__btn control-filter-btn btn">
							применить</button>
						<button type="rest" class="filter-controll__btn control-filter-btn btn btn_reset">
							сбросить
							<svg class="control-filter-btn__icon">
								<use xlink:href="#urn-icon"></use>
							</svg>
						</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>