<div class="lineBlock">
	<div class="_container">
		<ul class="lineBlock__menu menu-lineBlock">
			<li class="menu-lineBlock__item"><a href="#"
					class="menu-lineBlock__link menu-lineBlock__link_icon-stocks">Акции</a>
			</li>
			<li class="menu-lineBlock__item"><a href="#"
					class="menu-lineBlock__link menu-lineBlock__link_icon-newprd">Новинки</a></li>
			<li class="menu-lineBlock__item"><a href="#"
					class="menu-lineBlock__link menu-lineBlock__link-icon_ingredients">Ингредиенты</a>
				<ul class="sub-list">
					<li class="sub-list__item"><a href="#" class="sub-list__link">Ароматизаторы пищевые и ванилин</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Пищевые кислоты, консерванты</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Глазурь кондитерская и шоколад</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Повидло, начинки, подварки</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Десертные пасты, топпинги</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Прочее сырье</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Для работы с карамелью</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Сахар, соль</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Дрожжи хлебопекарные</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Сливки для взбивания</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Желирующие вещества и загустители</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Смеси кондитерские</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Какао-порошок, какао-масло</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Смеси хлебопекарные</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Конфитюр, начинки фруктово-ягодные</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Специи, пряности</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Красители пищевые</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Стабилизаторы сливок, смеси для суфле
							и муссов</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Крахмал</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Сухофрукты, цукаты</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Крема, гели, помадки</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Улучшители муки</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Маргарин, масло</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Фрукты консервированные, наполнители</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Мастика сахарная</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Химические разрыхлители</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Молочные продукты, сыры</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Эмульгаторы</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Мука, солод, отруби, сухари</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Яичные продукты</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Орехи, семена</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Патока</a></li>
				</ul>
			</li>
			<li class="menu-lineBlock__item"><a href="#"
					class="menu-lineBlock__link menu-lineBlock__link_icon-inventory">Инвентарь</a>
				<ul class="sub-list">
					<li class="sub-list__item"><a href="#" class="sub-list__link">Валики, венчики, ножи кондитерские, резаки</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Прочий инвентарь</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Вырубки для работы с мастикой, марципаном</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Салфетки, подложки, подносы</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Емкость полимерная (торт, пирожное)</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Силиконовые формы, коврики</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Инструмент для работы с мастикой, марципаном</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Скребки пластмассовые</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Инструмент для работы с шоколадом</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Тара полимерная (ящики)</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Капсулы бумажные</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Трафареты</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Кисти, лопатки, скалки</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Упаковочные материалы, лотки</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Коробка картонная (торт, пирожное)</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Формы (печенье, пирожные, торты)</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Лента бордюрная, декоративная</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Формы бумажные</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Насадки, мешки кондитерские</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Формы хлебные и кексовые</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Подставки для торта</a></li>
				</ul>
			</li>
			<li class="menu-lineBlock__item"><a href="#"
					class="menu-lineBlock__link menu-lineBlock__link_icon-equipment">Оборудование</a>
				<ul class="sub-list sub-list-block">
					<li class="sub-list__item"><a href="#" class="sub-list__link">Ванны моечные</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Взбивальные машины, миксеры</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Мукопросеиватели</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Печи хлебопекарные, шкафы пекарские</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Прочее оборудование</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Тестомесильные машины</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Тестораскаточные машины</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Упаковочное оборудование</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Хлеборезательные машины</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Шкафы расстоечные</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Электровафельницы</a></li>
				</ul>
			</li>
			<li class="menu-lineBlock__item"><a href="#" class="menu-lineBlock__link menu-lineBlock__link_icon-products">Наша
					продукция</a>
				<ul class="sub-list sub-list-block">
					<li class="sub-list__item"><a href="#" class="sub-list__link">Ванны моечные</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Печи хлебопекарные, шкафы пекарские</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Прочее оборудование</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Тестомесильные машины</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Тестораскаточные машины</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Упаковочное оборудование</a></li>
				</ul>
			</li>
			<li class="menu-lineBlock__item"><a href="#"
					class="menu-lineBlock__link menu-lineBlock__link_icon-services">Услуги</a>
				<ul class="sub-list sub-list-block">
					<li class="sub-list__item"><a href="#" class="sub-list__link">Доставка товара</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Изготовление инвентаря</a></li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Информационная поддержка</a>
					</li>
					<li class="sub-list__item"><a href="#" class="sub-list__link">Технологическая поддержка</a></li>
				</ul>
			</li>
			<li class="menu-lineBlock__item"><a href="#"
					class="menu-lineBlock__link menu-lineBlock__link_icon-wholesalers">Оптовикам</a></li>
		</ul>
	</div>
	<div class="lineBlock-blk"></div>
</div>