<div class="lineBlock">
  <div class="_container">
    <div class="lineBlock__inner">
      <a href="#" class="lineBlock__navButton navButton navButton_icon navButton_icon_stocks">Акции</a>
      <a href="#" class="lineBlock__navButton navButton navButton_icon navButton_icon_newprd">Новинки</a>
      <a href="#" class="lineBlock__navButton navButton navButton_icon navButton_icon_ingredients">Ингредиенты</a>
      <a href="#" class="lineBlock__navButton navButton navButton_icon navButton_icon_inventory">Инвентарь</a>
      <a href="#" class="lineBlock__navButton navButton navButton_icon navButton_icon_equipment">Оборудование</a>
      <a href="#" class="lineBlock__navButton navButton navButton_icon navButton_icon_products">Наша продукция</a>
      <a href="#" class="lineBlock__navButton navButton navButton_icon navButton_icon_services">Услуги</a>
      <a href="#"
        class="lineBlock__navButton navButton navButton_icon lineBlock__navButton_right navButton_icon_wholesalers">Оптовикам</a>
    </div>
  </div>
</div>