<div class="main-mob-menu">
	<div class="main-mob-menu__header">
		<a href="#" class="main-mob-menu__header-logo">
			<svg>
				<use xlink:href="#logo"></use>
			</svg>
		</a>
		<button class="main-mob-menu__close">
			<svg>
				<use xlink:href="#popup-close"></use> 
			</svg>
		</button>
	</div>
	<div class="main-mob-menu__body">
		<div id="btnCatMob" class="button-catalog">
			<div class="button-catalog__text">каталог</div>
			<button type="button" class="button-catalog__icon icon-menu" aria-label="Бургер иконка">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		<ul class="main-mob-menu__list">
			<li class="main-mob-menu__list-item">
				<a href="#" class="main-mob-menu__list-link">Услуги</a>
			</li>
			<li class="main-mob-menu__list-item">
				<a href="#" class="main-mob-menu__list-link">Оптовикам</a>
			</li>
			<li class="main-mob-menu__list-item">
				<a href="#" class="main-mob-menu__list-link">О компании</a>
			</li>
			<li class="main-mob-menu__list-item">
				<a href="#" class="main-mob-menu__list-link">Контакты</a>
			</li>
			<li class="main-mob-menu__list-item">
				<a href="#" class="main-mob-menu__list-link">Поставщики</a>
			</li>
			<li class="main-mob-menu__list-item">
				<a href="#" class="main-mob-menu__list-link">Новости и статьи</a>
			</li>
			<li class="main-mob-menu__list-item">
				<a href="#" class="main-mob-menu__list-link">Оплата и доставка</a>
			</li>
			<li class="main-mob-menu__list-item">
				<a href="#" class="main-mob-menu__list-link">Гарантии</a>
			</li>
		</ul>
	</div>
	<div class="main-mob-menu__footer">
		<div class="main-mob-menu__footer-address">Алтай, г. Барнаул, ул. Гридасова, 16</div>
		<div class="main-mob-menu__footer-phone-block">
			<a href="#tel:+73852462031" class="main-mob-menu__footer-phone-item">+7 (3852) 46 20 31</a>
			<span class="main-mob-menu__footer-phone-feature">/</span>
			<a href="#tel:+73852467585" class="main-mob-menu__footer-phone-item">+7 (3852) 46 75 85</a>
		</div>
		<div class="main-mob-menu__footer-mode">Пн-Пт: 08:00-17:00, Сб-Вс: выходные</div>
		<a href="mailto:info@psnab22.ru" class="main-mob-menu__footer-email">info@psnab22.ru</a>
		<a href="write-to-us.html" class="main-mob-menu__btn btn">написать нам</a>
	</div>
</div>