<div class="header__menu-catalog menu-catalog"> 
	<div class="menu-catalog__inner">

		<div class="menu-catalog__header">
			<div class="menu-catalog__header-text">каталог</div>
			<button id="catBtnCl" type="button" class="menu-catalog__header-close">
				<svg>
					<use xlink:href="#popup-close"></use> 
				</svg>
			</button>
		</div>

		<div class="menu-catalog__body" data-id="0">

			<div class="menu-catalog__list">
				<ul class="menu-lineBlock">
					<li class="menu-lineBlock__item" data-id="1">
						<a href="#" class="menu-lineBlock__link menu-lineBlock__link_icon-stocks">Акции</a>
						<svg>
							<use xlink:href="#arrow-slider"></use>
						</svg>
					</li>
					<li class="menu-lineBlock__item">
						<a href="#" class="menu-lineBlock__link menu-lineBlock__link_icon-newprd">Новинки</a>
					</li>
					<li class="menu-lineBlock__item"  data-id="2">
						<a href="#" class="menu-lineBlock__link menu-lineBlock__link-icon_ingredients">Ингредиенты</a>
						<svg>
							<use xlink:href="#arrow-slider"></use>
						</svg>
					</li>
					<li class="menu-lineBlock__item"  data-id="3">
						<a href="#" class="menu-lineBlock__link menu-lineBlock__link_icon-inventory">Инвентарь</a>
						<svg>
							<use xlink:href="#arrow-slider"></use>
						</svg>
					</li>
					<li class="menu-lineBlock__item">
						<a href="#" class="menu-lineBlock__link menu-lineBlock__link_icon-equipment">Оборудование</a>
						<svg>
							<use xlink:href="#arrow-slider"></use>
						</svg>
					</li>
					<li class="menu-lineBlock__item">
						<a href="#" class="menu-lineBlock__link menu-lineBlock__link_icon-products">Наша продукция</a>
						<svg>
							<use xlink:href="#arrow-slider"></use>
						</svg>
					</li>
				</ul>
			</div>

			<div class="menu-catalog__right-block">

				<div class="menu-catalog__sub-menu__wrapper menu-catalog__image-block _stocks-sub-menu" data-id="1">
					<div class="menu-catalog__img sales-leaders-banner">
						<div class="sales-leaders-banner__sticker-title">
							Кубики цукатные из апельсиновой цедры
						</div>
						<div class="sales-leaders-banner__sticker-price sticker-price-sales">
							<div class="sticker-price-sales__value rub">
								100
							</div>
						</div>
					</div>
				</div>

				<div class="menu-catalog__sub-menu__wrapper menu-catalog__sub-menu _ingredients-sub-menu" data-id="2">

					<ul class="sub-menu-list">
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Ароматизаторы пищевые и ванилин</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Глазурь кондитерская и шоколад</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Десертные пасты, топпинги</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Для работы с карамелью</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Дрожжи хлебопекарные</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Желирующие вещества изагустители</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Какао-порошок, какао-масло</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Конфитюр, начинкифруктово-ягодные</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Красители пищевые</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Крахмал</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Крема, гели, помадки</a></li>
					</ul>

					<ul class="sub-menu-list">
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Маргарин, масло</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Мастика сахарная</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Молочные продукты, сыры</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Мука, солод, отруби, сухари</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Орехи, семена</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Патока</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Пищевые кислоты, консерванты</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Повидло, начинки, подварки</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Прочее сырье</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Сахар, соль</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Сливки для взбивания</a></li>
					</ul>

					<ul class="sub-menu-list">
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Смеси кондитерские</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Смеси хлебопекарные</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Специи, пряности</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Стабилизаторы сливок, смеси для суфлеи муссов</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Сухофрукты, цукаты</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Улучшители муки</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Фрукты консервированные, наполнители</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Химические разрыхлители</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Эмульгаторы</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Яичные продукты</a></li>
					</ul>

					<a href="#" class="menu-catalog__link text-animation">Смотреть все</a>

				</div>

				<div class="menu-catalog__sub-menu__wrapper menu-catalog__sub-menu _inventory-sub-menu" data-id="3">

					<ul class="sub-menu-list">
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Валики, венчики, ножи кондитерские, резаки</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Вырубки для работы с мастикой, марципаном</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Емкость полимерная (торт, пирожное)</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Инструмент для работы с мастикой, марципаном</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Инструмент для работы с шоколадом</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Капсулы бумажные</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Кисти, лопатки, скалки</a></li>
					</ul>

					<ul class="sub-menu-list">
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Коробка картонная (торт, пирожное)</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Лента бордюрная, декоративная</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Насадки, мешки кондитерские</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Подставки для торта</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Прочий инвентарь</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Салфетки, подложки, подносы</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Силиконовые формы, коврики</a></li>
					</ul>

					<ul class="sub-menu-list">
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Скребки пластмассовые</a></li> 
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Тара полимерная (ящики)</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Трафареты</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Упаковочные материалы, лотки</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Формы (печенье, пирожные, торты)</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Формы бумажные</a></li>
						<li class="sub-menu-list__item"><a href="#" class="sub-menu-list__link">Формы хлебные и кексовые</a></li>
					</ul>

					<a href="#" class="menu-catalog__link text-animation">Смотреть все</a>

				</div>

				<div class="menu-catalog__sub-menu__wrapper menu-catalog__image-block active">
					<div class="menu-catalog__img menu-catalog__img_01 _ibg">
						<div class="menu-catalog__img-title">Изготовление сахарной пудры</div>
					</div>
					<div class="menu-catalog__img menu-catalog__img_02 _ibg">
						<div class="menu-catalog__img-title">Производство инвентаря</div>
					</div>
				</div>

			</div>

		</div>

		<div class="menu-catalog__body drop-menu-catalog" data-id="2">
			<div class="drop-menu-catalog__header">
				<button type="button" class="drop-menu-catalog__btn-back drop-menu-back">
					<svg>
						<use xlink:href="#arrow-slider"></use>
					</svg>
					<svg class="label-icon">
						<use xlink:href="#label-ingri"></use>
					</svg>
					Ингредиенты
				</button>
			</div>
			<div class="drop-menu-catalog__body">
				<ul class="drop-menu-catalog__list">
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Ароматизаторы пищевые и ванилин</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Патока</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Глазурь кондитерская и шоколад</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Пищевые кислоты, консерванты</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Десертные пасты, топпинги</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Повидло, начинки, подварки</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Для работы с карамелью</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Прочее сырье</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Дрожжи хлебопекарные</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Сахар, соль</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Желирующие вещества и загустители</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Сливки для взбивания</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Какао-порошок, какао-масло</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Смеси кондитерские</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Конфитюр, начинки фруктово-ягодные</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Смеси хлебопекарные</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Красители пищевые</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Специи, пряности</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Крахмал</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Стабилизаторы сливок, смеси для суфле и муссов</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Крема, гели, помадки</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Сухофрукты, цукаты</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Маргарин, масло</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Улучшители муки</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Мастика сахарная</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Фрукты консервированные, наполнители</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Молочные продукты, сыры</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Химические разрыхлители</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Мука, солод, отруби, сухари</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Яичные продукты</a></li>
					<li class="drop-menu-catalog__list-item"><a href="#" class="drop-menu-catalog__list-link">Орехи, семена</a></li>
				</ul>
			</div>
			<div class="drop-menu-catalog__footer">
				<button type="button" class="drop-menu-catalog__footer-btn btn">показать все</button>
			</div>
		</div>

	</div>

</div>  

