<div  class="mob-fixed-menu-footer-wrp">
	<div data-fullscreen class="mob-fixed-menu-footer"> 
		<div class="mob-fixed-menu-footer__header mob-fixed-menu-footer__header-bascket">
			<button type="button" class="mob-fixed-menu-footer__btn into-basket-btn btn btn_black">
				<span class="into-basket-btn__text">к оформлению</span>
				<span class="into-basket-btn__point"></span>
				<span class="into-basket-btn__price rub">2 товара, 2 200.00</span> 
			</button>
		</div>
		<div class="mob-fixed-menu-footer__panel">
			<button type="button" class="mob-fixed-menu-footer__button">
				Отложить
			</button>
			<button type="button" class="mob-fixed-menu-footer__button">
				В список
			</button>
			<button type="reset" class="mob-fixed-menu-footer__button mob-fixed-menu-footer__button--reset">
				Удалить
			</button> 
		</div>
	</div>
</div>