<section class="own-production section">
  <div class="_container">
    <div class="titleBlock">
      <div class="own-production__title title">
        собственное производство
      </div>
    </div>
    <p class="own-production__subtitle subtitle">
      Изготавливаем разнообразный инвентарь для пекарен и кондитерских
      цехов. Вы можете заказать у нас противни, вырубки, высечки, формы
      для тортов, печенья и т.д. Весь наш товар <span>сертифицирован</span> 
    </p>

    <div class="own-production__banner">
      <div class="own-production__banner-nuar_blk nuar_blk"></div>
      <div class="own-production__banner-inner d-flex">
        <div class="own-production__banner-row">
          <div class="own-production__banner-item">
            <div class="own-production__banner-item-title">2006</div>
            <div class="own-production__banner-item-subtitle">
              год основания компании
            </div>
          </div>
          <div class="own-production__banner-item">
            <div class="own-production__banner-item-title">100+</div>
            <div class="own-production__banner-item-subtitle">
              сотрудников в штате
            </div>
          </div>
          <div class="own-production__banner-item">
            <div class="own-production__banner-item-title">
              >5 000 м2
            </div>
            <div class="own-production__banner-item-subtitle">
              площадь производства
            </div>
          </div>
        </div>
        <a href="#" class="own-production__banner-btn btn">подробнее</a>
      </div>
    </div>

		<div class="mob-btn-block">
			<a href="#" class="own-production__banner-btn btn">подробнее</a>
		</div>

  </div>
</section>