<div class="physical-list-person">
	<div class="physical-list-person__header">
		<button type="button" class="physical-list-person__back-btn back-btn">
			<svg class="back-btn__icon">
				<use xlink:href="#reg-back-btn"></use>
			</svg>
			вернуться к спискам
		</button>
		<div class="physical-list-person__header-buttons">
			<button data-tippy-content="" type="button" class="physical-list-person__header-btn btn-icon-big">
				<svg class="btn-icon-big__icon">
					<use xlink:href="#urn-delete"></use>
				</svg>
			</button>
			<button data-tippy-content="" type="button" class="physical-list-person__header-btn btn-icon-big">
				<svg class="btn-icon-big__icon">
					<use xlink:href="#pen-icon"></use>
				</svg>
			</button>
		</div>
	</div>
	<div class="physical-list-person__body">
		<div class="physical-list-person__title">Любимый список</div>
		<div class="physical-list-person__pord-price">20 товаров на <span class="physical-list-person__pord-price-value rub">20 200.00</span></div>
		<div class="physical-list-person__inner">

			<div class="physical-list-person__box">

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/01.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">10551 Свадебная декорация</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="10">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">2 000.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/04.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">Желейные шарики «Мармелатье». Не более 2...</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
						<div class="item-physical-list-person__footnote">Вкус <span>Апельсин</span></div>
						<div class="item-physical-list-person__footnote">Арт. 56789056789</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="1">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">200.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/01.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">10551 Свадебная декорация</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="10">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">2 000.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/04.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">Желейные шарики «Мармелатье». Не более 2...</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
						<div class="item-physical-list-person__footnote">Вкус <span>Апельсин</span></div>
						<div class="item-physical-list-person__footnote">Арт. 56789056789</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="1">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">200.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/01.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">10551 Свадебная декорация</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="10">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">2 000.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/04.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">Желейные шарики «Мармелатье». Не более 2...</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
						<div class="item-physical-list-person__footnote">Вкус <span>Апельсин</span></div>
						<div class="item-physical-list-person__footnote">Арт. 56789056789</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="1">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">200.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/01.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">10551 Свадебная декорация</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="10">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">2 000.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/04.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">Желейные шарики «Мармелатье». Не более 2...</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
						<div class="item-physical-list-person__footnote">Вкус <span>Апельсин</span></div>
						<div class="item-physical-list-person__footnote">Арт. 56789056789</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="1">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">200.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/01.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">10551 Свадебная декорация</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="10">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">2 000.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/04.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">Желейные шарики «Мармелатье». Не более 2...</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
						<div class="item-physical-list-person__footnote">Вкус <span>Апельсин</span></div>
						<div class="item-physical-list-person__footnote">Арт. 56789056789</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="1">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">200.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/01.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">10551 Свадебная декорация</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="10">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">2 000.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/04.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">Желейные шарики «Мармелатье». Не более 2...</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
						<div class="item-physical-list-person__footnote">Вкус <span>Апельсин</span></div>
						<div class="item-physical-list-person__footnote">Арт. 56789056789</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="1">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">200.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/01.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">10551 Свадебная декорация</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="10">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">2 000.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/04.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">Желейные шарики «Мармелатье». Не более 2...</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
						<div class="item-physical-list-person__footnote">Вкус <span>Апельсин</span></div>
						<div class="item-physical-list-person__footnote">Арт. 56789056789</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="1">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">200.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/01.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">10551 Свадебная декорация</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="10">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">2 000.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

			<div class="physical-list-person__row">
				<div class="physical-list-person__item item-physical-list-person">
					<div class="item-physical-list-person__img">
						<img src="img/card-product/04.jpg" alt="">
					</div>
					<div class="item-physical-list-person__descp">
						<div class="item-physical-list-person__text">Желейные шарики «Мармелатье». Не более 2...</div>
						<div class="item-physical-list-person__sticker sticker-product sticker-product_grey">5 кг</div>
						<div class="item-physical-list-person__footnote">Вкус <span>Апельсин</span></div>
						<div class="item-physical-list-person__footnote">Арт. 56789056789</div>
					</div>
					<div class="item-physical-list-person__value-block">
						<div class="item-physical-list-person__quantity quantity">
							<div class="quantity__button quantity__button_minus _icon-minus"></div>
							<div class="quantity__input">
								<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]" value="1">
							</div>
							<div class="quantity__button quantity__button_plus _icon-plus"></div>
						</div>
						<div class="item-physical-list-person__value-price">
							<div class="item-physical-list-person__value-price-number rub">200.00</div>
							 <span>/шт.</span>
							</div>
					</div>
					<div class="item-physical-list-person__price rub">200.00</div>
					<button type="button" class="item-physical-list-person__delete">
						<svg>
							<use xlink:href="#delete-icon"></use>
						</svg>
					</button>
				</div>
			</div>

		</div>

		</div>
	</div>
	<button type="button" class="person-list-person__btn btn btn_black">добавить весь список в корзину</button>
</div>