<div id="prodPrew" class="product-preview">
	<div class="product-preview__header">
	<div class="product-preview__name-block">
		<div class="product-preview__name">Желейные шарики «Мармелатье»</div>
		<button id="prodPrewCl" type="button" class="product-preview__close">
			<svg>
				<use xlink:href="#popup-close"></use>
			</svg>
		</button>
	</div>
	<div class="product-preview__article">Арт. 5297765</div>
	<div class="product-preview__stickers">
		<span class="sticker-product">хит</span>
		<span class="sticker-product sticker-product_red">20%</span>
		<span class="sticker-product sticker-product_crem">прослеживаемый товар</span> 
	</div>
	</div>

	<div class="product-preview__slider card-product-slider-small"> 
		<div class="productPreviewSl swiper">
			<div class="sliderSec__swiper">
				<div class="card-product-slider-small__slide _ibg">
					<img src="@img/card-product-sl/01.jpg" alt="Картинка превью слайдера">
				</div>
				<div class="card-product-slider-small__slide _ibg">
					<img src="@img/card-product-sl/01-2.jpg" alt="Картинка превью слайдера">
				</div>
				<div class="card-product-slider-small__slide _ibg">
					<img src="@img/card-product-sl/01-3.jpg" alt="Картинка превью слайдера">
				</div>
				<div class="card-product-slider-small__slide _ibg">
					<img src="@img/card-product-sl/01-4.jpg" alt="Картинка превью слайдера">
				</div>
				<div class="card-product-slider-small__slide _ibg">
					<img src="@img/card-product-sl/01-5.jpg" alt="Картинка превью слайдера">
				</div>
			</div>
		</div>
	</div>

	<div class="product-preview__button-block">
		<div class="card-product-sec__button-block">
			<div class="card-product-sec__button-block-title">Вкус</div>
			<form action="#" class="card-product-sec__button-block-inner">

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" checked type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Клубника</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Ваниль</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Банан</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Клубника</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Ваниль</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Банан</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Клубника</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" disabled type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Ваниль</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" disabled type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Банан</span>
					</span>
				</label>

			</form>
		</div>
		<div class="card-product-sec__button-block">
			<div class="card-product-sec__button-block-title">
				Вес упаковки, кг
			</div>
			<form action="#" class="card-product-sec__button-block-inner">

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" checked type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">5</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">4</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">10</span>
					</span>
				</label>

			</form>
		</div>
		<div class="card-product-sec__button-block">
			<div class="card-product-sec__button-block-title">
				Тип упаковки
			</div>
			<form action="#" class="card-product-sec__button-block-inner">

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" checked type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Бокс</span>
					</span>
				</label>

				<label type="button" class="card-product-sec__button-block-btn product-btn-label">
					<input class="product-btn__input" type="radio" name="radio">
						<span class="product-btn">
							<span class="product-btn__name">Мешок</span>
					</span>
				</label>

			</form>
		</div>
	</div>

	<div class="product-preview__conclusion conclusion">
		<div class="conclusion__row">
			<div class="conclusion__item">
				<div class="conclusion__name">В наличии</div>
				<div class="conclusion__value">Много</div>
			</div>
			<div class="conclusion__item">
				<div class="conclusion__name">Вес упаковки</div>
				<div class="conclusion__value">5 кг</div>
			</div>
		</div>
		<div class="conclusion__line"></div>
		<div class="conclusion__row">
			<div class="conclusion__item">
				<div class="conclusion__name">
					<div class="sticker-product green-color"> 
						экономия 100 ₽
					</div>
				</div>
				<div class="conclusion__value">
					<div class="total-price rub">1 800.00</div> 
				</div>
			</div>
		</div>
		<button type="button" class="product-preview__btn-fav btn">
			<svg>
				<use xlink:href="#favorites-product"></use>
			</svg>
			В избранное
		</button>
	</div>

	<div class="product-preview__descp">
		Желейные шарики - студнеобразные упругие изделия сферической и слегка овальной формы   в небольшом количестве сиропа. Ипользуются для декорирования изделий: пирожных, тортов, 
		десертов, мороженого, для добавлении в кокте...
	</div>
	<button type="button" class="product-preview__btn">Показать полностью</button>

</div> 