<section class="recently-watched section">
	<div class="_container">
		<div class="titleBlock">
			<div class="recently-watched__title title">вы недавно смотрели</div>
		</div>

		<div class="sliderSec recently-watched-slider">
			<div class="sliderSec__container _container">
				<div class="recentlyWatched swiper">
					<div class="sliderSec__swiper">
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product">хит</span>
										<span class="sticker-product sticker-product_red">20%</span>
									</div>
									<img src="@img/card-product/01.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Кубики цукатные из апельсиновой цедры
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new interactive-price-new_red rub">
											670
										</div>
										<div class="card-product__interactive-price-old rub">
											790
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<img src="@img/card-product/06.jpg" alt="" />
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Какао-масло дезодорированное «А...
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new rub">
											670
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product sticker-product_blue">new</span>
									</div>
									<img src="@img/card-product/07.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">Арахис</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new rub">
											1 070
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product">хит</span>
										<span class="sticker-product sticker-product_red">20%</span>
									</div>
									<img src="@img/card-product/01.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Кубики цукатные из апельсиновой цедры
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new interactive-price-new_red rub">
											670
										</div>
										<div class="card-product__interactive-price-old rub">
											790
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<img src="@img/card-product/06.jpg" alt="" />
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Какао-масло дезодорированное «А...
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new rub">
											670
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product sticker-product_blue">new</span>
									</div>
									<img src="@img/card-product/07.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">Арахис</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new rub">
											1 070
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product">хит</span>
										<span class="sticker-product sticker-product_red">20%</span>
									</div>
									<img src="@img/card-product/01.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Кубики цукатные из апельсиновой цедры
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new interactive-price-new_red rub">
											670
										</div>
										<div class="card-product__interactive-price-old rub">
											790
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product">хит</span>
										<span class="sticker-product sticker-product_red">20%</span>
									</div>
									<img src="@img/card-product/01.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Кубики цукатные из апельсиновой цедры
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new interactive-price-new_red rub">
											670
										</div>
										<div class="card-product__interactive-price-old rub">
											790
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<img src="@img/card-product/06.jpg" alt="" />
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Какао-масло дезодорированное «А...
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new rub">
											670
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product sticker-product_blue">new</span>
									</div>
									<img src="@img/card-product/07.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">Арахис</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new rub">
											1 070
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product">хит</span>
										<span class="sticker-product sticker-product_red">20%</span>
									</div>
									<img src="@img/card-product/01.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Кубики цукатные из апельсиновой цедры
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new interactive-price-new_red rub">
											670
										</div>
										<div class="card-product__interactive-price-old rub">
											790
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<img src="@img/card-product/06.jpg" alt="" />
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Какао-масло дезодорированное «А...
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new rub">
											670
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product sticker-product_blue">new</span>
									</div>
									<img src="@img/card-product/07.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">Арахис</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new rub">
											1 070
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Slide  -->
						<div class="recently-watched-slider__slide">
							<div class="card-product">
								<div class="card-product__img _ibg">
									<div class="card-product__sticker-block">
										<span class="sticker-product">хит</span>
										<span class="sticker-product sticker-product_red">20%</span>
									</div>
									<img src="@img/card-product/01.jpg" alt="" />
									<div class="sticker-product-rating">
										<div class="sticker-product-rating__rating">
											<svg class="sticker-product-rating__icon">
												<use xlink:href="#rating-product"></use>
											</svg>
										</div>
										<div class="sticker-product-rating__value">5,0</div>
									</div>
								</div>
								<div class="card-product__descp">
									<div class="card-product__descp-title">
										Кубики цукатные из апельсиновой цедры
									</div>
								</div>
								<div class="card-product__interactive">
									<div class="card-product__interactive-price">
										<div class="card-product__interactive-price-new interactive-price-new_red rub">
											670
										</div>
										<div class="card-product__interactive-price-old rub">
											790
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-button__inner">
						<div class="slider-info__button-next swiper-button swiper-button-next">
							<svg>
								<use xlink:href="#arrow-slider"></use>
							</svg>
						</div>
						<div class="slider-info__button-prev swiper-button swiper-button-prev">
							<svg>
								<use xlink:href="#arrow-slider"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>