<section class="recommend section">
	<div class="_container">
		<div class="titleBlock">
			<div class="recommend__title title">рекомендуем</div>
		</div>

		<div class="sliderSec recommend-slider">
			<div class="sliderSec__container _container">
				<div class="recommendSl swiper">
					<div class="sliderSec__swiper">
						<!-- Slide  -->
						<div class="recommend-slider__slide"> 
								<article class="blog-block__article article-card">
									<div class="article-card__body">
										<div class="article-card__body-img">
											<a href="#" class="article-card__body-sticker sticker-info">#рецепты</a>
											<img src="@img/blog/01.jpg" alt="">
										</div>
										<div class="article-card__body-interface d-flex">
											<div class="article-card__body-date date-info">20 января 2023</div>
											<div class="article-card__body-views d-flex">
												<div class="article-card__body-views-icon">
													<svg class="article-card__body-views-icon-svg">
														<use xlink:href="#views-icon"></use>
													</svg>
												</div>
												<div class="article-card__body-views-value views-value">100</div>
											</div>
										</div>
										<a href="#" class="article-card__body-descp">
											Молочный чай с тапиокой -желейными шариками «мармелатье»
										</a>
									</div>
								</article>
						</div>
						<!-- Slide  -->
						<div class="recommend-slider__slide"> 
							<article class="blog-block__article article-card">
								<div class="article-card__body">
									<div class="article-card__body-img">
										<a href="#" class="article-card__body-sticker sticker-info">#новости</a>
										<img src="@img/blog/02.jpg" alt="">
									</div>
									<div class="article-card__body-interface d-flex">
										<div class="article-card__body-date date-info">7 сентября 2022</div>
										<div class="article-card__body-views d-flex">
											<div class="article-card__body-views-icon">
												<svg class="article-card__body-views-icon-svg">
													<use xlink:href="#views-icon"></use>
												</svg>
											</div>
											<div class="article-card__body-views-value views-value">2 100</div>
										</div>
									</div>
									<a href="#" class="article-card__body-descp">
										Торт с фруктами и желейными шариками
									</a>
								</div>
							</article>
					</div>
											<!-- Slide  -->
											<div class="recommend-slider__slide"> 
												<article class="blog-block__article article-card">
													<div class="article-card__body">
														<div class="article-card__body-img">
															<a href="#" class="article-card__body-sticker sticker-info">#рецепты</a>
															<img src="@img/blog/01.jpg" alt="">
														</div>
														<div class="article-card__body-interface d-flex">
															<div class="article-card__body-date date-info">20 января 2023</div>
															<div class="article-card__body-views d-flex">
																<div class="article-card__body-views-icon">
																	<svg class="article-card__body-views-icon-svg">
																		<use xlink:href="#views-icon"></use>
																	</svg>
																</div>
																<div class="article-card__body-views-value views-value">100</div>
															</div>
														</div>
														<a href="#" class="article-card__body-descp">
															Молочный чай с тапиокой -желейными шариками «мармелатье»
														</a>
													</div>
												</article>
										</div>
										<!-- Slide  -->
										<div class="recommend-slider__slide"> 
											<article class="blog-block__article article-card">
												<div class="article-card__body">
													<div class="article-card__body-img">
														<a href="#" class="article-card__body-sticker sticker-info">#новости</a>
														<img src="@img/blog/02.jpg" alt="">
													</div>
													<div class="article-card__body-interface d-flex">
														<div class="article-card__body-date date-info">7 сентября 2022</div>
														<div class="article-card__body-views d-flex">
															<div class="article-card__body-views-icon">
																<svg class="article-card__body-views-icon-svg">
																	<use xlink:href="#views-icon"></use>
																</svg>
															</div>
															<div class="article-card__body-views-value views-value">2 100</div>
														</div>
													</div>
													<a href="#" class="article-card__body-descp">
														Торт с фруктами и желейными шариками
													</a>
												</div>
											</article>
									</div>
											<!-- Slide  -->
											<div class="recommend-slider__slide"> 
												<article class="blog-block__article article-card">
													<div class="article-card__body">
														<div class="article-card__body-img">
															<a href="#" class="article-card__body-sticker sticker-info">#рецепты</a>
															<img src="@img/blog/01.jpg" alt="">
														</div>
														<div class="article-card__body-interface d-flex">
															<div class="article-card__body-date date-info">20 января 2023</div>
															<div class="article-card__body-views d-flex">
																<div class="article-card__body-views-icon">
																	<svg class="article-card__body-views-icon-svg">
																		<use xlink:href="#views-icon"></use>
																	</svg>
																</div>
																<div class="article-card__body-views-value views-value">100</div>
															</div>
														</div>
														<a href="#" class="article-card__body-descp">
															Молочный чай с тапиокой -желейными шариками «мармелатье»
														</a>
													</div>
												</article>
										</div>
										<!-- Slide  -->
										<div class="recommend-slider__slide"> 
											<article class="blog-block__article article-card">
												<div class="article-card__body">
													<div class="article-card__body-img">
														<a href="#" class="article-card__body-sticker sticker-info">#новости</a>
														<img src="@img/blog/02.jpg" alt="">
													</div>
													<div class="article-card__body-interface d-flex">
														<div class="article-card__body-date date-info">7 сентября 2022</div>
														<div class="article-card__body-views d-flex">
															<div class="article-card__body-views-icon">
																<svg class="article-card__body-views-icon-svg">
																	<use xlink:href="#views-icon"></use>
																</svg>
															</div>
															<div class="article-card__body-views-value views-value">2 100</div>
														</div>
													</div>
													<a href="#" class="article-card__body-descp">
														Торт с фруктами и желейными шариками
													</a>
												</div>
											</article>
									</div>
								</div>
					<div class="swiper-button__inner">
						<div class="slider-info__button-next swiper-button swiper-button-next"></div>
						<div class="slider-info__button-prev swiper-button swiper-button-prev"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>