<div class="select-mob-menu">
	<ul class="select-mob-menu__list">
		<li class="select-mob-menu__list-item">
			<a href="#" class="select-mob-menu__list-link">По популярности</a>
		</li>
		<li class="select-mob-menu__list-item">
			<a href="#" class="select-mob-menu__list-link">По скидке</a>
		</li>
		<li class="select-mob-menu__list-item">
			<a href="#" class="select-mob-menu__list-link">Сначала дороже</a>
		</li>
		<li class="select-mob-menu__list-item">
			<a href="#" class="select-mob-menu__list-link">Сначала дешевле</a>
		</li>
	</ul>
</div>