<section id="sending" class="sending">
  <div class="_container">
    <div class="sending__banner d-flex">
      <div class="sending__banner-img">
        <img src="img/sending.png" alt="" />
      </div>
      <div class="sending__banner-column">
        <div class="sending__banner-descp">
          Рецептуры, мастер-классы, семинары, новинки и многое другое
        </div>
        <div class="sending__banner-title">будь в курсе новых событий</div>
      </div>
      <div class="sending__banner-column">
        <form action="#" class="sending__banner-form">
          <div class="form__line">
            <input id="email" autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="Email*"
              class="sending__banner-form-input input _email _req" />
          </div>
          <button type="submit" class="sending__banner-form-btn form__btn"></button>
        </form>
      </div>
    </div>
  </div>
</section>