<div class="similar-products-block">
  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/01.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          10551 Свадебная декорация
        </div>
        <span class="similar-products-block__sticker sticker-product-value"
          >5 кг</span
        >
      </div>
    </div>

    <div class="similar-products-block__item">
      <div
        class="similar-products-block__price card-product__interactive-price"
      >
        <div
          class="card-product__interactive-price-new interactive-price-new_red rub"
        >
          670.00
        </div>
        <div class="card-product__interactive-price-old rub">790.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/02.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          14069 Вырубка с выталкивателем «Снежинки»
        </div>
        <span class="similar-products-block__sticker sticker-product-value"
          >5 кг</span
        >
      </div>
    </div>

    <div class="similar-products-block__item">
      <div
        class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new rub">670.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/01.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          10551 Свадебная декорация
        </div>
        <span class="similar-products-block__sticker sticker-product-value">5 кг</span>
      </div>
    </div>

    <div class="similar-products-block__item">
      <div
        class="similar-products-block__price card-product__interactive-price">
        <div
          class="card-product__interactive-price-new interactive-price-new_red rub">
          670.00
        </div>
        <div class="card-product__interactive-price-old rub">790.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/02.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          14069 Вырубка с выталкивателем «Снежинки»
        </div>
        <span class="similar-products-block__sticker sticker-product-value">5 кг</span>
      </div>
    </div>

    <div class="similar-products-block__item">
      <div class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new rub">670.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/01.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          10551 Свадебная декорация
        </div>
        <span class="similar-products-block__sticker sticker-product-value">5 кг</span>
      </div>
    </div>

    <div class="similar-products-block__item">
      <div class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new interactive-price-new_red rub">
          670.00
        </div>
        <div class="card-product__interactive-price-old rub">790.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/02.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          14069 Вырубка с выталкивателем «Снежинки»
        </div>
        <span class="similar-products-block__sticker sticker-product-value">5 кг</span>
      </div>
    </div>

    <div class="similar-products-block__item">
      <div class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new rub">670.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/01.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          10551 Свадебная декорация
        </div>
        <span class="similar-products-block__sticker sticker-product-value">5 кг</span>
      </div>
    </div>

    <div class="similar-products-block__item">
      <div class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new interactive-price-new_red rub">
          670.00
        </div>
        <div class="card-product__interactive-price-old rub">790.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/02.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          14069 Вырубка с выталкивателем «Снежинки»
        </div>
        <span class="similar-products-block__sticker sticker-product-value">5 кг</span >
      </div>
    </div>

    <div class="similar-products-block__item">
      <div class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new rub">670.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/01.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          10551 Свадебная декорация
        </div>
        <span class="similar-products-block__sticker sticker-product-value" >5 кг</span>
      </div>
    </div>

    <div class="similar-products-block__item">
      <div class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new interactive-price-new_red rub">
          670.00
        </div>
        <div class="card-product__interactive-price-old rub">790.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/02.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          14069 Вырубка с выталкивателем «Снежинки»
        </div>
        <span class="similar-products-block__sticker sticker-product-value">5 кг</span>
      </div>
    </div>

    <div class="similar-products-block__item">
      <div class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new rub">670.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/01.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          10551 Свадебная декорация
        </div>
        <span class="similar-products-block__sticker sticker-product-value">5 кг</span>
      </div>
    </div>

    <div class="similar-products-block__item">
      <div class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new interactive-price-new_red rub">
          670.00
        </div>
        <div class="card-product__interactive-price-old rub">790.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="similar-products-block__row">
    <div class="similar-products-block__item">
      <div class="similar-products-block__img">
        <img src="@img/similar-products/02.jpg" alt="" />
      </div>
      <div class="similar-products-block__descp">
        <div class="similar-products-block__title">
          14069 Вырубка с выталкивателем «Снежинки»
        </div>
        <span class="similar-products-block__sticker sticker-product-value">5 кг</span>
      </div>
    </div>

    <div class="similar-products-block__item">
      <div class="similar-products-block__price card-product__interactive-price">
        <div class="card-product__interactive-price-new rub">670.00</div>
      </div>
      <button class="interactive-adding-bascet__button">
        <svg class="interactive-adding-bascet__button-icon">
          <use xlink:href="#bascet-btn-product"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
