<section class="catalog">
	<div class="_container">
		<div class="catalog__directory-management directory-management">
			<div class="directory-management__filters-item">
				<div class="directory-management__filters-btnBlock">
					<span class="directory-management__filters-icon filters-icon-closed"></span>
					<button type="bitton" class="directory-management__filters-btn">
						Фильтры
					</button>
					<span class="directory-management__filters-icon filters-icon-open"></span>
				</div>
			</div>
			<div class="directory-management-sorting">
				<div class="directory-management-sorting-number sorting-number">
					<span class="directory-management-sorting-value sorting-number__value">703</span>
					товара
				</div>
				<div class="directory-management-sorting-select">
					<select name="form[]" class="form">
						<option value="1" selected>По популярности</option>
						<option value="2">По скидке</option>
						<option value="3">Сначала дороже</option>
						<option value="4">Сначала дешевле</option>
					</select>
				</div>
			</div>
		</div>
		<div class="page__body d-flex">
			<div class="page__sidebar sidebar active">
				<div class="page__sidebar-navigation">
					<div data-spollers class="spollers">
						<form method="GET" class="page__sidebar-form">
							<div class="page__sidebar-navigation-col spollers__item">
								<button type="button" data-spoller class="spollers__title _spoller-active">
									Производитель
								</button>
								<div class="spollers__body">
									<div class="form__line">
										<label data-index="0" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Фабрика сладкого вкуса" />
											<span class="checkbox__text"><span>Фабрика сладкого вкуса</span></span>
										</label>
										<label data-index="1" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Топ Декор" />
											<span class="checkbox__text"><span>Топ Декор</span></span>
										</label>
										<label data-index="2" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Фабрика сладкого вкуса" />
											<span class="checkbox__text"><span>Фабрика сладкого вкуса</span></span>
										</label>
										<label data-index="3" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Топ Декор" />
											<span class="checkbox__text"><span>Топ Декор</span></span>
										</label>
										<label data-index="4" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Фабрика сладкого вкуса" />
											<span class="checkbox__text"><span>Фабрика сладкого вкуса</span></span>
										</label>
										<label data-index="5" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Топ Декор" />
											<span class="checkbox__text"><span>Топ Декор</span></span>
										</label>
										<label data-index="6" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Фабрика сладкого вкуса" />
											<span class="checkbox__text"><span>Фабрика сладкого вкуса</span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="page__sidebar-navigation-col spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Страна
								</button>
								<div class="spollers__body">
									<div class="form__line">
										<label data-index="7" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Россия" />
											<span class="checkbox__text"><span>Россия</span></span>
										</label>
										<label data-index="8" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Китай" />
											<span class="checkbox__text"><span>Китай</span></span>
										</label>
										<label data-index="9" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Казахстан" />
											<span class="checkbox__text"><span>Казахстан</span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="page__sidebar-navigation-col spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Цена
								</button>
								<div class="spollers__body">
									<div class="form__line"></div>
								</div>
							</div>
							<div class="page__sidebar-navigation-col spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Еденица заказа
								</button>
								<div class="spollers__body">
									<div class="form__line">
										<label data-index="7" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="1 кг" />
											<span class="checkbox__text"><span>1 кг</span></span>
										</label>
										<label data-index="8" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="3 кг" />
											<span class="checkbox__text"><span>3 кг</span></span>
										</label>
										<label data-index="9" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="5 кг" />
											<span class="checkbox__text"><span>5 кг</span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="page__sidebar-navigation-col spollers__item">
								<button type="button" data-spoller class="spollers__title">
									Наличие
								</button>
								<div class="spollers__body">
									<div class="form__line">
										<label data-index="7" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="В наличии" />
											<span class="checkbox__text"><span>В наличии</span></span>
										</label>
										<label data-index="8" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Под заказ" />
											<span class="checkbox__text"><span>Под заказ</span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="page__sidebar-navigation-col page__sidebar-navigation-open spollers__item">
								<button type="button" data-spoller class="spollers__title _spoller-active"></button>
								<div class="spollers__body">
									<div class="form__line">
										<label data-index="10" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Новинки" />
											<span class="checkbox__text checkbox__text_blue"><span
													class="checkbox__text-name text-name_new-check">Новинки</span></span>
										</label>
										<label data-index="11" class="checkbox">
											<input data-razdel="form" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
												name="form[]" value="Акции" />
											<span class="checkbox__text checkbox__text_red"><span
													class="checkbox__text-name text-name_sale-check">Акции</span></span>
										</label>
									</div>
								</div>
							</div>
							<div class="page__sidebar-navigation-filter-controll filter-controll">
								<button type="submit" class="filter-controll__btn control-filter-btn btn">
									применить</button>
								<button type="rest" class="filter-controll__btn control-filter-btn btn btn_reset">
									сбросить
									<svg class="control-filter-btn__icon">
										<use xlink:href="#urn-icon"></use>
									</svg>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="page__main main">

				<div class="main__applied-filters applied-filters">

					<div class="applied-filters__item">
						<span class="applied-filters__item-text">60 ₽ — 1 200 ₽</span>
						<button type="button" class="applied-filters__item-close">
							<svg>
								<use xlink:href="#popup-close"></use>
							</svg>
						</button>
					</div>

					<div class="applied-filters__item">
						<span class="applied-filters__item-text">Производитель</span>
						<button type="button" class="applied-filters__item-close">
							<svg>
								<use xlink:href="#popup-close"></use>
							</svg>
						</button>
					</div>

					<div class="applied-filters__item">
						<span class="applied-filters__item-text">Новинки</span>
						<button type="button" class="applied-filters__item-close">
							<svg>
								<use xlink:href="#popup-close"></use>
							</svg>
						</button>
					</div>

					<div class="applied-filters__item">
						<span class="applied-filters__item-text">Акции</span>
						<button type="button" class="applied-filters__item-close">
							<svg>
								<use xlink:href="#popup-close"></use>
							</svg>
						</button>
					</div>

					<button type="reset" class="applied-filters__btn-reset control-filter-btn btn btn_reset">
						сбросить
						<svg class="control-filter-btn__icon">
							<use xlink:href="#urn-icon"></use>
						</svg>
					</button>

				</div>

				<div class="main-prod-card d-flex">
					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<span class="sticker-product sticker-product_red">20%</span>
									<button type="button" class="sticker-product-favorite">
										<svg>
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/01.jpg" alt="" />

								<div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div>
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">
									Фабрика сладкого вкуса
								</div>
								<a href="#" class="card-product__descp-title">
									Кубики цукатные из апельсиновой цедры
								</a>
								<span class="card-product__descp-sticker sticker-product-value">5 кг</span>
							</div>

							<div class="card-product__interactive">

								<div class="card-product__interactive-how how-card how-card_green interactive-how_green">
									Много
								</div>
								<div class="card-product__interactive-price">
									<div
										class="card-product__interactive-price-new price-new price-new_red interactive-price-new_red rub">
										670.00
									</div>
									<div class="card-product__interactive-price-old price-old rub">
										790.00
									</div>
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												670.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<span class="sticker-product sticker-product_blue">new</span>
									<button type="button" class="sticker-product-favorite">
										<svg class="sticker-product-favorite__icon">
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/02.jpg" alt="" />
								<div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div>
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">Топ Декор</div>
								<a href="#" class="card-product__descp-title">
									RFP 12 Валик с шипами
								</a>
								<span class="card-product__descp-sticker sticker-product-value">1 шт</span>
							</div>
							<div class="card-product__interactive">
								<div class="card-product__interactive-how how-card interactive-how_grey">
									Мaло
								</div>
								<div class="card-product__interactive-price">
									<div
										class="card-product__interactive-price-new price-new price-new_grey interactive-price-new_grey rub">
										1 200.00
									</div>
									<!-- <div
								class="card-product__interactive-price-old rub"
							>
								790.00
							</div> -->
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												1 200.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<!-- <span class="sticker-product sticker-product_red"
								>20%</span
							> -->
									<button type="button" class="sticker-product-favorite">
										<svg class="sticker-product-favorite__icon">
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/03.jpg" alt="" />
								<!-- <div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div> -->
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">Топ Декор</div>
								<a href="#" class="card-product__descp-title">
									Зефир жевательный ароматизированный «Сердечки мини»
								</a>
								<span class="card-product__descp-sticker sticker-product-value">4 кг</span>
							</div>
							<div class="card-product__interactive">
								<div class="card-product__interactive-how how-card interactive-how_green">
									Много
								</div>
								<div class="card-product__interactive-price">
									<div class="card-product__interactive-price-new price-new interactive-price-new_green rub">
										1 200.00
									</div>
									<!-- <div
								class="card-product__interactive-price-old rub"
							>
								790.00
							</div> -->
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												1 200.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<!-- <span class="sticker-product sticker-product_red"
								>20%</span
							> -->
									<button type="button" class="sticker-product-favorite">
										<svg class="sticker-product-favorite__icon">
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/04.jpg" alt="" />
								<div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div>
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">Топ Декор</div>
								<a href="#" class="card-product__descp-title">
									Желейные шарики «Мармелатье», заголовок до 3х
									строк...
								</a>
								<span class="card-product__descp-sticker sticker-product-value">4 кг</span>
							</div>
							<div class="card-product__interactive">
								<div class="card-product__interactive-how how-card interactive-how_green">
									Много
								</div>
								<div class="card-product__interactive-price">
									<div class="card-product__interactive-price-new price-new interactive-price-new_green rub">
										1 200.00
									</div>
									<!-- <div class="card-product__interactive-price-old price-old rub">
										790.00
									</div> -->
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												1 200.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<span class="sticker-product sticker-product_red">20%</span>
									<button type="button" class="sticker-product-favorite">
										<svg>
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/01.jpg" alt="" />

								<div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div>
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">
									Фабрика сладкого вкуса
								</div>
								<a href="#" class="card-product__descp-title">
									Кубики цукатные из апельсиновой цедры
								</a>
								<span class="card-product__descp-sticker sticker-product-value">5 кг</span>
							</div>

							<div class="card-product__interactive">

								<div class="card-product__interactive-how how-card how-card_green interactive-how_green">
									Много
								</div>
								<div class="card-product__interactive-price">
									<div
										class="card-product__interactive-price-new price-new price-new_red interactive-price-new_red rub">
										670.00
									</div>
									<div class="card-product__interactive-price-old price-old rub">
										790.00
									</div>
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												670.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<!-- <span class="sticker-product sticker-product_red"
								>20%</span
							> -->
									<button type="button" class="sticker-product-favorite">
										<svg class="sticker-product-favorite__icon">
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/03.jpg" alt="" />
								<!-- <div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div> -->
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">Топ Декор</div>
								<a href="#" class="card-product__descp-title">
									Зефир жевательный ароматизированный «Сердечки мини»
								</a>
								<span class="card-product__descp-sticker sticker-product-value">4 кг</span>
							</div>
							<div class="card-product__interactive">
								<div class="card-product__interactive-how how-card interactive-how_green">
									Много
								</div>
								<div class="card-product__interactive-price">
									<div class="card-product__interactive-price-new price-new interactive-price-new_green rub">
										1 200.00
									</div>
									<!-- <div
								class="card-product__interactive-price-old rub"
							>
								790.00
							</div> -->
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												1 200.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<span class="sticker-product sticker-product_red">20%</span>
									<button type="button" class="sticker-product-favorite">
										<svg>
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/01.jpg" alt="" />

								<div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div>
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">
									Фабрика сладкого вкуса
								</div>
								<a href="#" class="card-product__descp-title">
									Кубики цукатные из апельсиновой цедры
								</a>
								<span class="card-product__descp-sticker sticker-product-value">5 кг</span>
							</div>

							<div class="card-product__interactive">

								<div class="card-product__interactive-how how-card how-card_green interactive-how_green">
									Много
								</div>
								<div class="card-product__interactive-price">
									<div
										class="card-product__interactive-price-new price-new price-new_red interactive-price-new_red rub">
										670.00
									</div>
									<div class="card-product__interactive-price-old price-old rub">
										790.00
									</div>
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												670.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<span class="sticker-product sticker-product_blue">new</span>
									<button type="button" class="sticker-product-favorite">
										<svg class="sticker-product-favorite__icon">
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/02.jpg" alt="" />
								<div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div>
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">Топ Декор</div>
								<a href="#" class="card-product__descp-title">
									RFP 12 Валик с шипами
								</a>
								<span class="card-product__descp-sticker sticker-product-value">1 шт</span>
							</div>
							<div class="card-product__interactive">
								<div class="card-product__interactive-how how-card interactive-how_grey">
									Мaло
								</div>
								<div class="card-product__interactive-price">
									<div
										class="card-product__interactive-price-new price-new price-new_grey interactive-price-new_grey rub">
										1 200.00
									</div>
									<!-- <div
								class="card-product__interactive-price-old rub"
							>
								790.00
							</div> -->
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												1 200.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<span class="sticker-product sticker-product_red">20%</span>
									<button type="button" class="sticker-product-favorite">
										<svg>
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/01.jpg" alt="" />

								<div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div>
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">
									Фабрика сладкого вкуса
								</div>
								<a href="#" class="card-product__descp-title">
									Кубики цукатные из апельсиновой цедры
								</a>
								<span class="card-product__descp-sticker sticker-product-value">5 кг</span>
							</div>

							<div class="card-product__interactive">

								<div class="card-product__interactive-how how-card how-card_green interactive-how_green">
									Много
								</div>
								<div class="card-product__interactive-price">
									<div
										class="card-product__interactive-price-new price-new price-new_red interactive-price-new_red rub">
										670.00
									</div>
									<div class="card-product__interactive-price-old price-old rub">
										790.00
									</div>
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												670.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-prod-card__column">
						<div class="card-product">
							<div class="card-product__img _ibg">
								<div class="card-product__sticker-block">
									<span class="sticker-product">хит</span>
									<!-- <span class="sticker-product sticker-product_red"
								>20%</span
							> -->
									<button type="button" class="sticker-product-favorite">
										<svg class="sticker-product-favorite__icon">
											<use xlink:href="#favorites-product"></use>
										</svg>
									</button>
								</div>
								<img src="@img/card-product/04.jpg" alt="" />
								<div class="card-product__sticker-rating sticker-product-rating">
									<div class="sticker-product-rating__rating">
										<svg class="sticker-product-rating__icon">
											<use xlink:href="#rating-product"></use>
										</svg>
									</div>
									<div class="sticker-product-rating__value">5,0</div>
								</div>
							</div>
							<div class="card-product__descp">
								<div class="card-product__descp-group">Топ Декор</div>
								<a href="#" class="card-product__descp-title">
									Желейные шарики «Мармелатье», заголовок до 3х
									строк...
								</a>
								<span class="card-product__descp-sticker sticker-product-value">4 кг</span>
							</div>
							<div class="card-product__interactive">
								<div class="card-product__interactive-how how-card interactive-how_green">
									Много
								</div>
								<div class="card-product__interactive-price">
									<div class="card-product__interactive-price-new price-new interactive-price-new_green rub">
										1 200.00
									</div>
									<!-- <div class="card-product__interactive-price-old price-old rub">
										790.00
									</div> -->
								</div>

								<div class="card-product__interactive-adding">
									<div class="interactive-adding-bascet">
										<div class="interactive-adding-bascet__value">
											<div class="interactive-adding-bascet__value-quantity">
												1 шт.
											</div>
											<div class="interactive-adding-bascet__value-price rub">
												1 200.00
											</div>
										</div>
										<button class="interactive-adding-bascet__button">
											<svg class="interactive-adding-bascet__button-icon">
												<use xlink:href="#bascet-btn-product"></use>
											</svg>
										</button>
									</div>

									<div class="interactive-adding-quantity">
										<div class="quantity">
											<div class="quantity__button quantity__button_minus _icon-minus"></div>
											<div class="quantity__input">
												<input class="quantity__input-quantity" autocomplete="off" type="text" name="form[]"
													value="1" />
												<input class="quantity__input-price rub" autocomplete="off" type="text" name="form[]"
													value="670.00" />
											</div>
											<div class="quantity__button quantity__button_plus _icon-plus"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page__show-more show-more">
					<button class="show-more__btn btn">
						показать еще
						<svg class="show-more__btn-icon">
							<use xlink:href="#show-more"></use>
						</svg>
					</button>
				</div>
				<div class="page__main-pagging main-pagging">
					<div class="main-pagging__pagging pagging">
						<a href="" class="pagging__arrow">Назад</a>
						<ul class="pagging__list">
							<li>
								<a href="" class="pagging__item _active">1</a>
							</li>
							<li>
								<span class="pagging__item">...</span>
							</li>
							<li>
								<a href="" class="pagging__item">3</a>
							</li>
							<li>
								<a href="" class="pagging__item">4</a>
							</li>
							<li>
								<a href="" class="pagging__item">5</a>
							</li>
							<li>
								<a href="" class="pagging__item">6</a>
							</li>
							<li>
								<a href="" class="pagging__item">7</a>
							</li>
							<li>
								<a href="" class="pagging__item">8</a>
							</li>
							<li>
								<a href="" class="pagging__item">9</a>
							</li>
						</ul>
						<a href="" class="pagging__arrow">Дальше</a>
					</div>
					<div class="main-pagging__select">
						<select name="form[]" class="form">
							<option value="1" selected>Показывать по: 20</option>
							<option value="2">Показывать по: 40</option>
							<option value="3">Показывать по: 60</option>
							<option value="4">Показывать по: 80</option>
							<option value="4">Показывать по: 100</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>