// Кнопки
//<BUTTONS для форм (a.btn+tab)>
// Снипет (HTML): btn
.button {
	display: inline-flex;
	padding: 0px 0px;

	@media (any-hover: hover) {
		&:hover {}
	}

	&._fw {
		width: 100%;
	}
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
	padding: 16px 30px;
	color: #161615;
	border: 1px solid #221F20;
	border-radius: 15px;

	&:hover {}

	&.fw {
		width: 100%;
	}
}

.btn_black {
	color: #fff;
	background: #221F20;
}

.form__btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
	padding: 16px 30px;
	color: #fff;
	border: 1px solid #221F20;
	border-radius: 15px;
	background: #221F20;
}