//<FORM>
// Снипет (HTML):
.form {
	&__row {}

	&__column {}

	&__line {}

	&__input {}

	&__button {}

	&__error {
		color: red;
		margin-top: 3px;
		margin-bottom: 10px;
	}
}

.form__line {
	width: 100%;
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <SEARCH>
// Снипет (HTML):
@import "search";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
@import "range";

// Форма отправки, кнопка в инпуте
.form-body {
	position: relative;
	width: 100%;
	height: 56px;
	display: flex;
	align-items: center;
}

.sending-banner__btn {
	position: absolute;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 46px;
	text-align: center;
	font-size: 18px;
	padding: 16px 5px;
	color: #fff;
	border: 1px solid #221F20;
	border-radius: 15px;
	background-color: #221F20;

	svg {
		flex: 0 0 30px;
		height: 12px;
		transition: height 0.3s ease 0s;
	}

	// &:hover {
	// 	svg {
	// 		height: 16px;
	// 	}
	// }
}