//<FORM>
// Снипет (HTML):
.form {
	&__row {}

	&__column {}

	&__line {}

	&__input {}

	&__button {}

	&__error {
		color: red;
		margin-top: 3px;
		margin-bottom: 10px;
	}
}

.form__line {
	width: 100%;
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <SEARCH>
// Снипет (HTML):
@import "search";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
@import "range";