.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 56px;
  border: 1px solid #E3E3E3;
  border-radius: 15px;
}

.search__input {
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  height: 100%;
}

// Стилизация placeholder 
.search__input::-webkit-input-placeholder {
  color: #221F20;
}

.search__input::-moz-placeholder {
  color: #221F20;
}

/* Firefox 19+ */
.search__input:-moz-placeholder {
  color: #221F20;
}

/* Firefox 18- */
.search__input:-ms-input-placeholder {
  color: #221F20;
}

.search__btn {
  background-color: transparent;
  border: none;

  &:before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    width: 24px;
    height: 24px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4NCiAgPHBhdGggaWQ9InNlYXJjaCIgZD0iTTI0LDIyLjc0NSwxNy45NTIsMTYuN0ExMC4xNzQsMTAuMTc0LDAsMSwwLDE2LjcsMTcuOTUyTDIyLjc0NSwyNFpNMS43NzUsMTAuMTY4YTguMzkzLDguMzkzLDAsMSwxLDguMzk0LDguMzkzLDguNCw4LjQsMCwwLDEtOC4zOTQtOC4zOTMiIGZpbGw9IiMyMjFmMjAiLz4NCjwvc3ZnPg0K');
  }
}