.search-form {
	position: relative;
	height: 56px;
	border-radius: 15px;
	transition: right 0.3s ease 0s;
	cursor: pointer;
	border: 1px solid #E3E3E3;

	&:hover {
		border: 1px solid #221F20;
	}
}

.search-form._active {
	border: 1px solid #221F20;
}

.search-form__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	overflow: hidden;
	// border: 1px solid #E3E3E3;
	border-radius: 15px;
}

.search-form__input {
	font-size: 16px;
	font-weight: 400;
	width: 100%;
	padding: 0 100px 0 20px;
	height: 100%;
	cursor: pointer;
}

// Стилизация placeholder 
.search-form__input::-webkit-input-placeholder {
	color: #221F20;
}

.search-form__input::-moz-placeholder {
	color: #221F20;
}

/* Firefox 19+ */
.search-form__input:-moz-placeholder {
	color: #221F20;
}

/* Firefox 18- */
.search-form__input:-ms-input-placeholder {
	color: #221F20;
}

.search-form__btn {
	background-color: transparent;
	border: none;

	&:before {
		content: "";
		position: absolute;
		top: 15px;
		right: 20px;
		width: 24px;
		height: 24px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4NCiAgPHBhdGggaWQ9InNlYXJjaCIgZD0iTTI0LDIyLjc0NSwxNy45NTIsMTYuN0ExMC4xNzQsMTAuMTc0LDAsMSwwLDE2LjcsMTcuOTUyTDIyLjc0NSwyNFpNMS43NzUsMTAuMTY4YTguMzkzLDguMzkzLDAsMSwxLDguMzk0LDguMzkzLDguNCw4LjQsMCwwLDEtOC4zOTQtOC4zOTMiIGZpbGw9IiMyMjFmMjAiLz4NCjwvc3ZnPg0K');
	}
}

.search-form__btn-closed {
	position: absolute;
	top: 17px;
	right: 65px;
	width: 20px;
	height: 20px;
	flex: 0 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	transition: all 0.3s;

	svg {
		flex: 0 0 20px;
		width: 20px;
		height: 20px;
		stroke: #8F8E8E;
	}

	&._active {
		opacity: 1;
		visibility: visible;
	}
}