//====================================================================================================
.footer {
	padding: 60px 0 28px 0;
	color: #fff;
	border-radius: 100px 100px 0px 0px;
	background: #221f20;

	a {
		color: #fff;
	}
	.spollers__item {
    font-size: inherit;
    border-bottom: none;
	}
	.spollers__body {
    padding-top: 0;
	}
}

.footer-user {
	position: relative;
	padding: 30px 0;
}

.footer-user__img {
	position: absolute;
	bottom: 0;
	left: 2.5%;
	z-index: 1;
	width: 89.5px;
	height: 77px;
	overflow: hidden;
}

.footer__container {}

.footer__top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;
}

.footer__menu {
	display: flex;
	flex: 1 1 auto;
	margin: 0 -15px;
}

.footer__column {
	flex: 0 1 33.333%;
	padding: 0 15px;
}

.footer__menu-name {
	display: block;
	font-family: "Lack", sans-serif;
	font-size: 30px;
	margin-bottom: 30px;
}

.footer__list {}

.footer__list-item {
	opacity: 0.7;
	margin-bottom: 10px;
	transition: $mainTransition;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		opacity: 1;
	}
}

.footer__list-item-link {}

.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.footer__phone { 
	display: block;
	font-size: 30px;
	white-space: nowrap;
	margin-bottom: 15px;
	transition: $mainTransition;

	&:hover {
		color: #C5934F;
	}
}
.footer__phone-separator {
	display: none;
	color: #707070;
}
.footer__time-work {
	font-size: 16px;
	opacity: 0.8;
	margin-top: 20px;
	margin-bottom: 29px;
}

.footer__email { 
	font-size: 22px;
	display: inline-block;
	color: #C5934F !important;
	text-decoration: underline !important;
	text-underline-position: under;
	transition: $mainTransition;

	&:hover {
		text-decoration: none !important;
	}
}

.footer__btn {
	margin-top: 40px;
	border: 1px solid #fff;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 28px;
	opacity: 0.8;
	border-top: 1px solid #707070;
}

.footer__bottom-column {}

.footer__policy {
	font-size: 14px;
	opacity: 0.8;
	color: #fff;
	transition: $mainTransition;

	&:hover {
		opacity: 1;
	}
}

.footer__copyright {
	font-size: 14px; 
}

.footer__development {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.footer__development-text {
	margin-right: 18px;
}

.footer__development-link {
	display: flex;
	align-items: center;

	svg {
		width: 93px;
		height: 20px;
		flex: 0 0 93px;
		fill: #fff;
		transition: fill 0.3s ease 0s;

		&:hover {
			fill: #C5934F;
		}
	}
}

.footer-user .footer__copyright {
	text-align: center;
}

.mob-fixed-menu-footer {
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 510;
	width: 100%;
	padding: 10px 12px;
	background: #fff;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.mob-fixed-menu-footer__header {
	display: none;
	padding-bottom: 10px;
}

.into-basket-btn {
	display: flex;
	align-items: center;
}
.into-basket-btn__text {
}
.into-basket-btn__point {
	margin: 0 15px;
	&::before{
		content: ".";
    float: left;
    font-size: 0px;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
	}
}
.into-basket-btn__price {
}

.mob-fixed-menu-footer__panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}
.mob-fixed-menu-footer__button {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 11px;
	line-height: 22px/11px*100%;

	svg {
		width: 24px;
		flex: 0 0 24px;
		height: 24px;
		margin-bottom: 4px;
	}
}

.mob-fixed-menu-footer__value {
	position: absolute;
	top: -5px;
	right: -10px;
	min-width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 12px;
	line-height: 22px;
	background: #C5934F;
	border-radius: 5px;
}


//====================================================================================================