//====================================================================================================
.header {
	position: absolute;
	z-index: 150;
	width: 100%;
	background: #fff;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #E3E3E3;
	box-shadow: none;
	transition: box-shadow 0.3s ease 0s;

	&__row {
		justify-content: space-between;
		align-items: center;
	}
}

._header-scroll {
	position: fixed;
	border-bottom: none;
	box-shadow: 0px 6px 6px -8px #000000;
	// z-index: 50000;
}

.lock .header {
	padding-right: 6px;
}

.header-user {
	padding: 10px 0;
}

.header-user__container {
	max-width: 1640px;
}

.header__main {
	position: relative;
	z-index: 250;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// background-color: #fff;
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
	}
}

.header__main-column {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex: 0 1 590/1420*100%;
}

.header__main-column_right {
	justify-content: flex-end;

	.phone-item {
		display: none;
	}
}
.header-user .header__main-column_right .phone-item {
	display: flex;
	margin-right: 0 !important;
}
.header-user .header__main-item {
	padding-right: 0;
}
.header__menu-burger {
	display: none;
	align-items: center;
	color: #161615;
	padding: 5px 10px;
	border-radius: 9px;
	background: #f3f3f4;

	svg {
		flex: 0 0 16px;
		width: 16px;
		height: 10px;
		margin-left: 11px;
	}
}

.header__main-item {
	padding-right: 57px;
}

.phone-item__icon-mob {
	width: 20px;
	flex: 0 0 20px;
	height: 20px;
}

.header__main-item .phone-item__icon-mob {
	display: none;
}

.header__logo {
	margin: 0 25px;
}

.logo-icon {
	display: flex;
	align-items: center;
	width: 220px;
	flex: 0 0 220px;
	height: 57px;
	overflow: hidden;
}

.logo-icon__svg {
	width: 100%;
	flex: 0 0 100%;
	height: 100%;
	// fill: red;
	// stroke: #000;
}

.header__menu {}

.menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
	// flex: 0 1 555px;
}

.menu__item {
	position: relative;
	display: flex;
	align-items: center;
	transition: all 0.5s;

	&:hover {
		color: #C5934F;
	}
}

.menu__link {
	padding-left: 30px;
	padding-bottom: 1.5px;
}

.menu__button-arrow {
	display: flex;
	width: 7.78px;
	height: 7px;
	margin-left: 8px;
	overflow: hidden;
}

.menu__arrow-icon {
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}

@media (any-hover: hover) {
	.menu__item:hover .menu__link {
		color: #C5934F;
	}


	.menu__item:hover .menu__arrow-icon {
		fill: #C5934F;
		transform: rotate(180deg);
	}
}

.menu__sub-list {
	// display: none;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	position: absolute;
	top: 28px;
	left: 30px;
	z-index: 5;
	min-width: 220px;
	padding: 18px 20px 22px 20px;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
	transition: all 0.3s ease 0s;
	pointer-events: none;
	transform: translate(0, -10px);
}

@media (any-hover: hover) {
	.menu__item:hover .menu__sub-list {
		// display: block;
		overflow: visible;
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
		transform: translate(0, 0);
	}
}

.menu__sub-item {
	display: flex;
	align-items: center;
	margin-bottom: 12.4px;
	transition: all 0.3s;

	&:last-child {
		margin-bottom: 0;
	}
}

.menu__sub-item:hover .menu__sub-link {
	color: #C5934F;
}

.header-user__back-btn {
	color: #8F8E8E;
	background: #fff;
	border: 1px solid #E3E3E3;
}

.header-user__back-btn .back-btn__icon {
	fill: #8F8E8E;
}

.menu__sub-link {
	width: 100%;
	line-height: 22px;
}

.header__navigation {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 200;
	background-color: #fff;

	*:last-child {
		margin-right: 0;
	}
}

.header__search {
	flex: 0 1 721px;
	flex: 1 1 auto;
	margin-right: 20px;
	// transition: all 3s ease-out;
}

.button-catalog {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0 1 100%;
	height: 56px;
	padding: 20px;
	background: #221F20;
	border-radius: 16px;
	overflow: hidden;
	cursor: pointer;
	transition: $mainTransition;

	&:hover {
		opacity: 0.8;

		.icon-menu span:last-child,
		.icon-menu span:first-child {
			width: 20px;
		}

		.icon-menu span:nth-child(2) {
			width: 24px;
		}

		.icon-menu._active span:first-child,
		.icon-menu._active span:last-child {
			width: 23.5px;
		}
	}
}

.icon-menu._active span:first-child,
.icon-menu._active span:last-child {
	width: 23.5px;
}

.button-catalog__text {
	font-family: "Lack", sans-serif;
	font-size: 18px;
	color: #fff;
	margin-right: 10px;
	margin-bottom: 8px;
}

.header__button-catalog {
	flex: 0 0 220/1420 * 100%;
	margin-right: 20px;
}

.header__navigation-interface {}

.menu-catalog {
	opacity: 0;
	overflow: hidden;
	visibility: visible;
	position: absolute;
	top: -380%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	width: 100%;
	min-height: 0;
	background-color: rgba(0, 0, 0, 0.3960784314);
	display: flex;
	justify-content: center;
}

.menu-catalog__inner {
	max-width: 1652px;
	width: 100%;
	height: 0;
	min-height: 568px;
	border-radius: 0px 0px 100px 100px;
	z-index: 100;
	background: #fff;
	overflow: hidden;
	transition: transform 0.5s ease 0s;
	transform: translate(0, -100%);
}

.menu-catalog._active {
	top: 0;
	min-height: 100vh;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s ease 0s;
}

.menu-catalog__body {
	display: flex;
	justify-content: space-between;
	height: 100%;
	// height: 0;
	padding: 198px 116px 60px 116px;
	padding: 0;
	background: #fff;
	overflow: hidden;
	// transform: translate(0, -125px);
	transition: opacity 0.5s ease 0s;
	opacity: 0;
	align-items: start;
}

.menu-catalog__header {
	display: none;
	justify-content: space-between;
	align-items: center;
	min-height: 56px;
	padding: 15px 25px;
	background-color: #221F20;
}
.menu-catalog__header-text {
	font-family: "Lack", sans-serif;
	font-size: 18px;
	color: #fff;
}
.menu-catalog__header-close {
	svg {
		flex: 0 0 18.3px;
		width: 18.3px;
		height: 18.3px;
		stroke: #fff;
	}
}

.menu-catalog__list {
	flex: 0 0 220px;
}

.menu-catalog._active .menu-catalog__inner {
	transform: translate(0, 0%);
	height: 100%;
}

.menu-catalog._active .menu-catalog__body {
	height: 100%;
	padding: 198px 116px 60px 116px;
	opacity: 1;
	// transform: translate(0, 0);
}

.menu-catalog__list .menu-lineBlock {
	display: block;
}

.menu-catalog__list .menu-lineBlock__item {
	margin-bottom: 26px;

	&:last-child {
		margin-bottom: 0;
	}
}

.menu-catalog__right-block {
	// display: flex;
	flex: 0 1 100%;
}

.menu-catalog__sub-menu {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	margin: 0 -10px;
}

.sub-menu-list {
	flex: 0 1 33.333%;
	padding: 0 5px;
}

.sub-menu-list__item {
	line-height: 1.3;
	margin-bottom: 15px;
}

.menu-catalog__link {
	color: #C5934F;
	margin-top: 25px;
}

.menu-catalog__image-block {
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
}

.menu-catalog__img {
	flex: 0 1 340px;
	// height: 298px;
	padding: 30px 50px 30px 30px;
	padding-bottom: 17.3%;
	border-radius: 30px;
	margin-right: 20px;
	overflow: hidden;
	background: #221f20;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	transition: $mainTransition;

	&:last-child {
		margin-right: 0;
	}
}

.menu-catalog__img:hover {
	background-size: 110%;
}

.header .menu-lineBlock__link {
	padding: 0;
}

._stocks-sub-menu .sales-leaders-banner:hover {
	background-size: contain;
}

.menu-catalog__img_01 {
	background-image: url('../img/menu-catalog-01.png');
}

.menu-catalog__img_02 {
	background-image: url('../img/menu-catalog-02.png');
}

.menu-catalog__img-title {
	font-size: 20px;
	line-height: 30px/20px*100%;
	color: #fff;
}

.menu-catalog__image-block .sales-leaders-banner__sticker-title {
	font-size: 20px;
	line-height: 30px/20px*100%;
}

.menu-search { 
	display: none;
	// display: flex;
	visibility: hidden;
	opacity: 0;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 60px;
	left: 50%;
	width: 250vh;
	width: 100%;
	margin-right: -50%;
	z-index: 60;
	background: #fff;
	padding-bottom: 30px;
	transition: transform 0.3s ease 0s;
	transform: translate(-50%, -0%);
}

.menu-search._active {
	display: block;
	visibility: visible;
	opacity: 1;
	&::before{
    content: "";
    position: absolute;
    top: 0;
    left: -65%;
    z-index: -1;
    width: 2000%;
    height: 100%;
    background-color: #fff;
	}
}

.menu-search__inner {
	max-width: 935px;
	width: 100%;
	// height: 735px;
	height: 65vh;
	overflow: auto;
	padding: 15px 0;
	margin: 0 auto;
}

.menu-search__inner::-webkit-scrollbar-thumb,
.menu-search__inner::-webkit-scrollbar {
	display: none;
}
.menu-search__footer {
	display: none;
	align-items: center;
	padding-top: 40px;
	padding: 25px 25px 0 25px;
}

.menu-search__btn {
	width: 100%;
}

// Стиль иконки бургера
.icon-menu {
	position: sticky;
	flex: 0 0 24px;
	height: 16px;
	cursor: pointer;
	z-index: 5;
}

.icon-menu span {
	position: absolute;
	top: 6.8px;
	left: inherit;
	right: 0;
	width: 18px;
	height: 2px;
	background-color: #fff;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.icon-menu span:first-child {
	top: 0px;
	width: 100%;
}

.icon-menu span:last-child {
	top: auto;
	bottom: 0px;
	width: 100%;
}

.icon-menu._active span {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.icon-menu._active span:first-child {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 7px;
}

.icon-menu._active span:last-child {
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 7px;
}

.header .lineBlock {
	margin-top: 25px;
}

// Боковое меню
.mob-menu {
	// visibility: hidden;
	position: fixed;
	z-index: 500;
	top: 0;
	right: -100%;
	width: 50%;
	height: 100%;
	padding: 35px 10px 0px 20px;
	// background: rgba(0, 0, 0, 0.8);
	background: #fff;
	box-shadow: 0px 3px 5px 0px black;
	-webkit-transition: right 0.8s;
	-o-transition: right 0.8s;
	margin-top: 30px;
	transition: right 0.8s;
	overflow: auto;
}

.mob-menu li a {
	display: inline-block;
	font-size: 16px;
	// color: #fff;
	padding-bottom: 13px;
}

.mob-menu.active {
	// visibility: visible;
	right: 0%;
}

// Иконка мобильного телефона
.mob-phone-icon {
	display: none;
	flex: 0 0 30px;
	height: 30px;
	justify-content: center;
	align-items: center;

	&:before {
		content: "";
		float: left;
		width: 100%;
		height: 100%;
		background-size: 90%;
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMzg0IDM4NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzg0IDM4NDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPGc+DQoJCTxwYXRoIGZpbGw9IiNGQ0EwMUYiIGQ9Ik0zNTMuMTg4LDI1Mi4wNTJjLTIzLjUxLDAtNDYuNTk0LTMuNjc3LTY4LjQ2OS0xMC45MDZjLTEwLjcxOS0zLjY1Ni0yMy44OTYtMC4zMDItMzAuNDM4LDYuNDE3bC00My4xNzcsMzIuNTk0DQoJCQljLTUwLjA3My0yNi43MjktODAuOTE3LTU3LjU2My0xMDcuMjgxLTEwNy4yNmwzMS42MzUtNDIuMDUyYzguMjE5LTguMjA4LDExLjE2Ny0yMC4xOTgsNy42MzUtMzEuNDQ4DQoJCQljLTcuMjYtMjEuOTktMTAuOTQ4LTQ1LjA2My0xMC45NDgtNjguNTgzQzEzMi4xNDYsMTMuODIzLDExOC4zMjMsMCwxMDEuMzMzLDBIMzAuODEzQzEzLjgyMywwLDAsMTMuODIzLDAsMzAuODEzDQoJCQlDMCwyMjUuNTYzLDE1OC40MzgsMzg0LDM1My4xODgsMzg0YzE2Ljk5LDAsMzAuODEzLTEzLjgyMywzMC44MTMtMzAuODEzdi03MC4zMjNDMzg0LDI2NS44NzUsMzcwLjE3NywyNTIuMDUyLDM1My4xODgsMjUyLjA1MnoiDQoJCQkvPg0KCTwvZz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K');
	}
}

// Мобильный поиск
.header__mob-search-btn {
	margin-right: 25px;
}

// Иконка мобильного поиска
.mob-search-btn {
	display: none;
	justify-content: center;
	align-items: center;
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	background: #65B965;
	border-radius: 50%;

	&:before {
		content: "";
		float: right;
		width: 14px;
		height: 12px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCI+DQogIDxpbWFnZSBpZD0ic2VhcmNoIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhsaW5rOmhyZWY9ImRhdGE6aW1hZ2UvcG5nO2Jhc2U2NCxpVkJPUncwS0dnb0FBQUFOU1VoRVVnQUFBQTRBQUFBT0NBWUFBQUFmU0MzUkFBQUFCSE5DU1ZRSUNBZ0lmQWhraUFBQUFRUkpSRUZVS0ZPVjBqMHJobUVVQi9EZms4aEtZbFNTUk5tOVpNRElwcFF2UU9RTHlNWmtVVUl5R0pRdndHS3lHS3pLUzhrZ0gwQkdzVHc2ZFYyNnV6eFBQZTdsN3E3enU4KzUvdWVxMWV0MTZlbkJLcWJRZ1FjYzR5a1hWTisxQkNkd2lXNjg0aFBEcVhBRFJ5VU9HSjJlOFlVbDNLU2lmcHhqRXJPNExqdHVZUnZURlpScnV2Q0NPOHlWOEFwREdHaDBGcHhpR1owbGpCSDZNTm9FSHFiUTJrcTRqL1hVOGEzQVVSeXB4dm5IU2ppQ2U5eGlBUitwSU5BZUl0VVZuRFJheHhwaXBIZGNwSFZFR0hIMjZMYUxIWHhublBjWTN6UFlUQmVnSFk4NFFHOUtQZmE4bUhFVk5zbEdqSHlXa3YzRnJjRDQ0Ui9jS3F6aWVZei9CMlk4R0ZmMEJ6Z1BXaFg0TXhhYkFBQUFBRWxGVGtTdVFtQ0MiLz4NCjwvc3ZnPg0K);
	}
}

// Строка мобильного поиска
.header__search-mob {
	position: fixed;
	top: -4%;
	-webkit-transition: top 0.8s;
	-o-transition: top 0.8s;
	transition: top 0.8s;
}

.header__search-mob._active {
	top: 40px;
	-webkit-transition: top 0.8s;
	-o-transition: top 0.8s;
	transition: top 0.8s;
}


.bascket-icon-number {
	position: absolute;
	top: -25px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 14px;
	line-height: 157.1428571429%;
	padding: 2px 8px;
	color: #fff;
	background: #C5934F;
	border-radius: 8px;
}

.bascket-icon-number_blue {
	background: #46A5FC;
}

.header__multicorzine {
	position: absolute;
	top: 65px;
	right: -65px;
	z-index: 5000000;
}

.multicorzine-header {
	display: flex;
	flex-direction: column;
	width: 210px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.multicorzine-header__main {
	display: flex;
	flex-direction: column;
	padding: 10px 10px 15px 10px;
	border-bottom: 1px solid #E3E3E3;
}

.multicorzine-header__link {
	display: flex;
	padding: 10px;
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	svg {
		width: 20px;
		height: 20px;
		flex: 0 0 20px;
		margin-right: 10px;
		fill: #46A5FC;
	}
}

.multicorzine-header__link_main {
	background: #F3F3F4;

	svg {
		fill: #C5934F;
	}
}

.multicorzine-header__link-inner {
	display: flex;
	flex-direction: column;
}

.multicorzine-header__link-text {
	font-size: 14px;
	line-height: 20 /14 * 100%;
	color: #161615;
}

.multicorzine-header__price {
	font-size: 12px;
	line-height: 1;
	color: #8F8E8E;
}

.multicorzine-header__add {
	font-size: 14px;
	line-height: 20 /14 * 100%;
	color: #8F8E8E;
	padding: 10px;

	&:hover {
		color: #161615;
	}
}

.header__menu-entry {
	position: absolute;
	top: 65px;
	right: 20px;
}

.menu-entry-header {
	max-width: 460px;
	width: 100%;
	padding: 25px 30px 35px 30px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.menu-entry-header__title {
	font-size: 20px;
	line-height: 30 /20 * 100%;
	font-weight: 700;
	margin-bottom: 10px;
}

.menu-entry-header__subtitle {
	margin-bottom: 12px;
}

.menu-entry-header__item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.menu-entry-header__item-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 40px;
	height: 40px;
	background: #fff;
	border-radius: 15px;
	margin-right: 10px;
	border: 1px solid #E3E3E3;

	svg {
		flex: 0 0 22px;
		width: 22px;
		height: 22px;
	}
}

.menu-entry-header__item-text {}

.menu-entry-header__btn {
	width: 100%;
	margin-top: 10px;
}

.header__menu-cabinet {
	position: absolute;
	top: 65px;
	left: 10px;
}

.menu-cabinet {
	max-width: 220px;
	width: 100%;
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	overflow: hidden;
}

.menu-cabinet__list {}

.menu-cabinet__item {
	display: flex;
	align-items: center;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.menu-cabinet__link {
	&:hover {
		color: #C5934F;
	}
}

.menu-cabinet__number {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	padding: 2px 6px;
	min-width: 30px;
	background: #C5934F;
	border-radius: 10px;
	margin-left: 15px;
}

.menu-cabinet__btn {
	color: #8F8E8E;
	margin-top: 30px;

	&:hover {
		color: #161615;
	}
}

.header-legal-person {
	border-bottom: none;
	padding-bottom: 0;
	box-shadow: 0px 6px 6px -11px #000000;
}
.header-legal-person .search-form {
	display: none;
}
.header-legal-person__interface {
	flex: 0 1 100%;
}

.header-legal-person .interface__link {
	justify-content: center;
	flex: 0 1 301px;
}

.header-legal-person .interface__link_my-orders {
	border-left: 1px solid #E3E3E3;
}

.header-legal-person .header__menu-cabinet {
	left: 33%;
}

.header__cabinet-leg-person {
	position: absolute;
	top: 65px;
	left: 75px;
	max-width: 380px;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 5px rgb(0 0 0 / 30%);
	border-radius: 15px;
	overflow: hidden;

	.card-person {
		box-shadow: none;
		border-radius: 0;
		border: 0;
		border-top: 1px solid #E3E3E3;
	}

	.card-person__btn {
		&:hover {
			color: #fff;
		}
	}
}

.cabinet-leg-person {}

.header__cabinet-leg-person .menu-cabinet {
	max-width: 100%;
	width: 100%;
	background: #fff;
	box-shadow: none;
	border-radius: 0;

	.menu-cabinet__btn {
		margin-top: 15px;
	}
}

//====================================================================================================
//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/