@media (max-width: 1560px) {
	.swiper {
		position: relative;
	}

	.swiper-button {
		position: static;
	}
}

@media (max-width: 1440px) {
	._container {
		padding: 0 10px;
	}
}

@media (max-width: 1360px) {
	.slider-brends .slider-brends__inner {
		padding: 0 10px;
		border: none;
	}
}

@media (max-width: 1280px) {
	.page .lineBlock {
		margin-bottom: 0px;
	}

	.slider-brends .sliderSec__container {
		padding-right: 0;
	}

	.slider-brends .slider-brends__inner {
		padding: 0;
	}

	.slider-brends__slide {
		padding-bottom: 8%;
	}
}

@media (max-width: 1200px) {
	.lineBlock__menu .menu-lineBlock__item:last-child {
		margin-left: 0;
	}

	.lineBlock {
		min-height: auto;
	}

	.lineBlock__menu .menu-lineBlock__link {
		padding: 15px 0 15px 20px;
	}
}

@media (max-width: 1024px) {
	.interface__link-text {
		display: none;
	}

	.interface__link {
		padding: 0 14.3px;
	}

	.header__button-catalog {
		flex: 0 0 18%;
	}

	.button-catalog__text {
		margin-top: -6px;
	}

	.header__logo {
		width: 154px;
		flex: 0 0 154px;
		height: 40px;
	}

	.header__menu {
		display: none;
	}

	.header__main-column .phone-item {
		display: none;
	}

	.header__main-column_right {
		.phone-item {
			display: flex;
			padding-right: 0;
			margin-right: 34px;
		}
	}

	.header__menu-burger {
		display: flex;
	}

	.lineBlock {
		min-height: auto;
		height: 58px;
		width: auto;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.lineBlock::-webkit-scrollbar,
	.lineBlock::-webkit-scrollbar-thumb {
		display: none;
	}

	.menu-lineBlock {
		flex-wrap: nowrap;
		margin-left: -20px;
	}

	.lineBlock__menu .menu-lineBlock__item {
		white-space: nowrap;
		order: 2;
	}

	.lineBlock__menu .menu-lineBlock__item:last-child {
		order: 1;
	}

	.page {
		padding-top: 140px;
	}

	.swiper-button__inner {
		display: none;
	}

	.slider-info .sliderSec__container {
		padding-right: 0;
	}

	.slider-info__slide {
		padding-bottom: 22%;
	}

	.slider-brends__slide {
		padding-bottom: 10%;
	}
}

@media (max-width: 830px) {
	.header__main-column .address-item {
		display: none;
	}

	.header__logo {
		order: 2;
	}

	.header__main-column {
		order: 3;
		justify-content: flex-end;
	}

	.header__main-column_right {
		justify-content: start;
		order: 1;
	}

	.header__main-column_right .phone-item {
		display: none;
	}

	.header__main-column .phone-item {
		display: flex;
		padding-right: 0;
	}

	.header__main-column_right .phone-item {
		display: none;
	}

}

@media (max-width: 768px) {
	.button-catalog__text {
		display: none;
	}

	.header__button-catalog {
		flex: 0 0 50px;
		height: 50px;
		justify-content: center;
		margin-right: 8px;
	}

	.header__search {
		margin-right: 8px;
		height: 50px;
	}

	.header__interface {
		height: 50px;

		.interface__link {
			padding: 0 13.7px;
		}
	}

	.icon-menu span {
		left: 0;
	}

	.slider-info__slide {
		border-radius: 30px;
	}
}

@media (max-width: 540px) {
	.header__interface {
		display: none;
	}

	.header__search {
		margin-right: 0;
	}

	.header__main-column .phone-item {
		font-size: 0;
	}

	.header__main-item .phone-item__icon {
		display: none;
	}

	.header__main-item .phone-item__icon-mob {
		display: block;
	}

	.header__main-column {
		flex: 0 1 auto;
	}
}

@media (max-width: 515px) {
	.slider-info__slide {
		padding-bottom: 31%;
	}
}

@media (max-width: 414px) {
	.slider-info__slide {
		padding-bottom: 40%;
	}

	.slider-brends__slide {
		padding-bottom: 18%;
	}
}

@media (max-width: 345px) {
	.header__logo {
		width: 145px;
		flex: 0 0 145px;
		height: 35px;
		margin: 0;
	}

	.header__search .search-form__input {
		padding: 0 50px 0 10px;
	}
}

@media (max-width: 320px) {
	.slider-info__slide {
		padding-bottom: 40%;
	}
}